[2010-10-28 10:35] kivikakk opened #4 ""make bootstrap" always tries to install findlib in /usr/lib/ocaml"
I tried `make PREFIX=/home/celtic/mir-inst bootstrap`:

[code]

It still tries installing there!

[2010-10-29 08:25] #4 closed, assigned to nobody

[2011-09-06 20:59] mor1 opened #16 "regression suite tool/lib paths"
as you suggested, "need to sort out ./configure nonsense" :)

specifically, regression suite tests are in-tree so should use relative paths for MIRAGELIB

[2011-09-13 11:44] avsm opened #17 "pa_cow requires Cow to be opened"
The <:html< >> and related syntax extensions all assume Cow is opened, and give a slightly obscure error message if it isn't.

Probably best to assume that no modules have been opened by the user when a syntax extension is opened.

[2011-09-13 11:50] avsm opened #18 "merge ocaml-fat"
Merge the djs55/ocaml-fat repository into Mirage.  A very basic read-only version can be modelled after the `block/direct/SimpleKV.ml` which depends on a block device.

A read-write version will require defining a new device type in `os/unix/devices.ml` (kv_rw) and plumbing that through, but that can be a second phase.

[2011-09-13 11:50] avsm opened #19 "LWT tutorial examples in regress"
Add LWT tutorial examples to regress/, so I can copy them into the `mirage-tutorial` slide presentation also.

[2011-09-13 15:09] avsm opened #20 "mir-build broken on i386"
The `regress/myocamlbuild.ml` checks for the wrong output from `uname -m`, it is `i386` instead of `x86_32`

[2011-09-13 15:30] #20 closed, assigned to nobody

[2011-09-13 20:23] avsm opened #23 "random self init"
The build system could add a `Random.self_init` to the generated foo__.ml which invokes the Lwt main runtime. A number of the Lwt examples use this, so it may be useful to compile the program with a deterministic seed for test purposes and a truly random seed for production use.

[2011-09-13 20:46] avsm opened #24 "review uses of String.explode/implode"
There are convenient but expensive functions String.explode/implode. Should review the use of these in the codebase and perhaps switch to Regexp if it's better.

See discussion in https://github.com/djs55/mirage/commit/80632db944890389f4c9f673d8bcbd594319ae3a#comments
and also Regexp benchmarks in http://www.openmirage.org/wiki/ocaml-regexp

[2011-09-14 07:57] avsm opened #25 "Port mirage-perf to new regression system"
The new regression system should be enough to port the old mirage-perf repository over

[2011-09-15 17:37] avsm opened #30 "improve DHCP client to be more robust"
- Retry more than once
- try_lwt to ignore failures and plough on!

[2011-09-16 21:03] djs55 opened #35 "[xen] sharing of the xenstore channel is broken"
In userspace we normally open fresh xenstore connections over the unix domain socket. In kernel space we need to share the single shared request/response ring.

The current code will give errors like:

 Unexpected_packet("Expecting DIRECTORY received READ")

when (eg) initialising two providers in parallel. This is really obvious now that I've made the blkif work better.

Clearly we need to make t

[2011-09-18 02:17] avsm opened #39 "plumb through camlp4 debug options"
There are a number of camlp4 debug options which should be plumbed through. e.g. Lwt and Bitstring both define some, and we need a Log module too.

One way to do this is to have a %.debug.ml which represents a debug p4 output, and can be linked in instead of %.ml

[2011-09-18 02:37] avsm opened #40 "unix-direct netif broken"
From @mor1 :

[code]

via "tcpdump -i tap0", pinging 10.0.0.1 from a terminal gets me nothing; pinging 10.0.0.255 shows echo requests from 10.0.0.1 -> 10.0.0.255, and responses from 0.0.0.0 -> 10.0.0.1 which seems odd.

similar behaviour if i build the tutorial slideset with unix-direct, although with unix-socket it works just fine.

[2011-09-18 03:02] #40 closed, assigned to avsm

[2011-09-18 03:14] #17 closed, assigned to samoht

[2011-09-19 13:40] samoht opened #45 "make doc is broken with ocaml 3.13.0"
The ocamldoc internals seems to have changed between 3.12 and 3.13.

Here is a tentative patch.

[code]

[2011-09-19 16:04] #18 closed, assigned to djs55

[2011-09-19 19:00] mor1 opened #48 "link through .annot files for emacs tuareg mode"
there may be better ways to do this (tweak tuareg-mode for example) but for the time being- i find myself frequently executing the following sequence in order to have C-cC-t type highlighting in emacs tuareg-mode work

$ ocamlbuild backend/foo.bin
$ cd _build && for n backend/*.annot ; do ln -s $n ; done

...which is ugly but more-or-less works.

could the build system do this for me please?  i'm

[2011-09-20 03:01] avsm opened #52 "TCP hangs in direct stack"
After clicking a few times on various links, the browser connection hangs after a seemingly indeterminate amount of time.

@balrajsingh narrowed it down to the Net.Channel code:

[code]

where the bad path being taken is the "Oh no" branch

[2011-09-20 03:09] #52 closed, assigned to avsm

[2011-09-20 23:58] mor1 opened #56 "unhygenic build"
i seem to consistently get the following droppings left if i do "make all install":

[code]

...meaning that subsequent "make all install" gets a hygiene warning requesting invocation of a sanitize script

is this intentional?!

[2011-09-24 13:00] #56 closed, assigned to nobody

[2011-09-24 13:01] #48 closed, assigned to nobody

[2011-09-29 10:29] #19 closed, assigned to nobody

[2011-09-29 10:39] avsm opened #69 "port Core Bigstring"
After much to-and-fro, @djs55 and I decided that we really should have out-of-heap strings that are separate from OCaml strings. This is due to a lot of mixups with Io_page and normal strings (which, in Xen, absolutely must never ever ever be mixed up).

I am going to look at porting the Bigstring module from Core over, which uses Bigarray under the hood. A first step to Core integration perhaps!

[2011-10-07 01:22] mor1 opened #70 "generating .annot files for lib/"
my ocamlbuild chops are not good enough - i don't seem to be getting .annot files generated for things under lib (eg., lib/openflow) even though it looks to me like myocamlbuild applies the -annot flag.

any ideas?  is this another thing that's busted in my tree, or is it actually broken?

[2011-10-17 20:09] #70 closed, assigned to nobody

[2011-10-22 15:20] mor1 opened #75 "more .annot issues"
@avsm @samoht generation now ok in the first pass. but .annot files don't seem to be updated when source .ml changes?

[2011-10-22 15:40] #75 closed, assigned to nobody

[2011-12-21 22:42] cgreenhalgh opened #81 "node.js build is broken"
(there may be other issues but) the problems i saw were due to the openflow module's use of Net facilities which don't yet have dummies in the node version of the networking, e.g. OS.Netif, Net.Manager.interface.
The build is only attempted when js_of_ocaml is installed (which i only just installed) so I'm not sure when it stopped building.

[2011-12-21 22:45] cgreenhalgh opened #82 "http server request body not handled"
this was commented out in February 2011, probably because it would take too long to fix at the time (just guessing).
It also doesn't support PUT (e.g. for typical RESTful/CRUD interface).
I'm having a go at fixing this in my fork of mirage on the httprequestfix branch.

[2012-05-07 19:58] #25 closed, assigned to nobody

[2012-05-08 09:42] avsm opened #93 "Switch OS to map Io_pages as arrays"
We've tried a variety of strategies to map the OCaml `string` type to zero-copy I/O pages, but it ultimately needs reliable reference counted views onto a page. The easiest way to do this is via uint8 Bigarray, so this will port the OS.{Xen/UNIX} modules to use Bigarray.

This will require touching pretty much all of Net and the upstream libraries in order to move away from `string` parsing, but i

[2012-05-08 09:43] #69 closed, assigned to avsm

[2012-05-08 10:00] avsm opened #94 "Pa_cstruct: map Bigarray as a C-like struct"
Bitstring is excellent for pattern-matching, but the write path is a serious bottleneck: each `BITSTRING` invocation allocates a temporary buffer and writes into it, before blitting to the target.

A quick modification I did (in my `iteratee-io` branch) was to modify pa_bitstring to accept a target bitstring to write into (which is a very simple patch).  However, the problem of sub-bitstrings not

[2012-05-08 10:23] avsm opened #95 "Repository disaggregation"
A very nice feature of the existing Mirage tree is that everything is editable from a single repository. However, it's getting hard to manage all of these disparate protocols, and they should be released independently so they work on conventional Lwt_unix as well.

The first useful step here would be remove our OS.Unix bindings and switch to Lwt conventions where possible. This would mean having a

[2012-10-24 18:12] #95 closed, assigned to nobody

[2012-10-24 18:13] #16 closed, assigned to avsm

[2013-07-10 14:21] qrilka opened #101 "What have happened to MPL?"
I see MPL being removed from tools directory - is it just gone and not available anywhere except old project commits?

[2013-08-06 15:07] avsm opened #102 "1.0 Release checklist"
# Usecases:
- Decks.OpenMirage.org
- WWW.OpenMirage.org (Xen mode, content served from a block device)
- WWW.OpenMirage.org (Crunched)
- Personal home pages for: @samoht @mor1 @djs55 @amirmc @jonludlam
- [x] Move repo to mirage org to keep history (@avsm)
- [x] Merge mirage repo with mirage-platform master (@avsm)
- [x] Blog post about OSCon (@mor1)
- [x] Fix mirage-skeleton and make root Makefile

[2013-08-11 15:59] #101 closed, assigned to nobody

[2013-08-11 15:59] #93 closed, assigned to avsm

[2013-08-11 16:00] #45 closed, assigned to nobody

[2013-08-27 12:58] djs55 opened #106 "ERROR: Already connected to xenstore: cannot reconnect"
mirage-www crashes on startup with:

[code]

[2013-08-27 17:02] #106 closed, assigned to nobody

[2013-09-03 08:47] samoht opened #107 "uninstall error"
[code]

[2013-11-27 15:17] amirmc opened #109 "Non-dev prep work for Mirage release"
This is a checklist to track the _non-dev_ activities around the upcoming Mirage release (i.e running parallel to #111).  Please do edit and tidy this up (it's a first draft at the moment)
## Mailing list
- [x] Announcement to current list about migration - @amirmc
- [x] @larskurth to create new list `mirageos-devel@lists.xenproject.org` (in moderation mode)
- [x] Copy over subscribers to new list

[2013-11-27 15:20] zabbal opened #110 "unspecified license"
It's unclear from the quick glance at the repo and related website what's the license for the code in this and related repositories.

[2013-11-27 16:12] avsm opened #111 "Libraries for 1.0 checklist"
(extracted from #102, running parallel to #109)
## Core Unix/Xen libraries:
- [ ] **shared-memory-ring**: Builds shared memory-based point-to-point communication protocols. Is reasonably mature and can be released. Can be used outside of Xen, need to benchmark vs c. 4.01.0dev ocaml improves perf with bigarray builtins. Implements the Xen ABI, but needs examples in-tree. (@djs55). For 1.0.
- [ ] **

[2013-11-27 17:28] #107 closed, assigned to nobody

[2013-11-27 17:28] #94 closed, assigned to nobody

[2013-11-27 17:29] #24 closed, assigned to nobody

[2013-11-30 11:53] avsm opened #112 "SSL support"

[2013-11-30 11:53] avsm opened #113 "Break out boot libraries from mirage-platform"

[2013-11-30 11:55] #35 closed, assigned to djs55

[2013-12-08 20:45] samoht opened #114 "have a way to easily send ping packets using Mirage"

[2013-12-09 10:35] #113 closed, assigned to nobody

[2013-12-09 13:43] avsm opened #123 "Fix upstream support for Sys.os_type = xen"
See mirage/mirage-platform#78

We need to file an upstream bug report to not `assert false` if there's an unknown os_type, as this happens if we just link Filename in

[2013-12-09 17:28] amirmc opened #128 "Schedule some posts over the coming days/weeks"
Now that Mirage 1.0 is out, we need to put together a bunch of posts to describe the system and help people (and each-other) get to grips with it.

This will effectively form some of the documentation so it's more than just blog posts and wiki pages -- getting this content in written form is important and we can come back to each one to properly cross-reference. :)

Below are some ideas for posts

[2013-12-09 18:27] dbuenzli opened #129 "Hello world failure."
I'm trying to follow the [hello world](http://openmirage.org/wiki/hello-world) tutorial. It fails during `make basic-configure` (see below), `dllunixrun.so` is indeed already installed and owned by `mirage`, should I remove it ?

[code]

[2013-12-09 23:05] #129 closed, assigned to nobody

[2013-12-10 10:49] avsm opened #130 "mirage-platform unix shouldnt need dllunixrun.so"
This is only there for checksum_stubs now, which we should be able to remove and move into mirage-net.

[2013-12-10 10:53] avsm opened #131 "wire up mirage-net-xen"
The mirage/mirage-net-xen repo needs to be wired up to complete the chain for the self-hosting mirage-www.

@djs55 has committed all the relevant fixes to the block layer, so we should now be in good shape to do the same for networking.

@samoht, is HTTP wired up now with cohttp-trunk?  I can cut a release of 0.9.13 today if so.

[2013-12-10 11:02] amirmc opened #132 "Migrate mailing list archives"
Mailing list has moved to Xen Project but we still need to migrate the archives at some point.

Links to both sets of archives can be found at: http://lists.xenproject.org/cgi-bin/mailman/listinfo/mirageos-devel

[2013-12-10 11:38] #109 closed, assigned to nobody

[2013-12-10 15:03] avsm opened #133 "Update the DNS performance tests page on the wiki"
The DNS performance test page on the Wiki is rather out of date, and being able to run these tests on the latest code would be useful (if only as a performance regression test, but also as a way to reproduce our ASPLOS 2013 results).
http://www.openmirage.org/wiki/performance

See comment: http://www.openmirage.org/wiki/performance#comment-1157202534

[2013-12-10 21:45] avsm opened #137 "Improve the lib_test/net testcase to send a real ping packet"
It would be good if it wrote a valid Ethernet frame to make testing easier, rather than a random string.

[2013-12-10 21:55] avsm opened #138 "configuration: expose a convenience function for DHCP"
In `module IP`, there's a `local` function for a default IP address.  a `IP.dhcp <net>` would also be useful.

[2013-12-12 15:34] avsm opened #139 "mirage-www: remove Disqus"
We should remove the Disqus and point people clearly to the issues URL instead.  Right now there are too many comments and places to find...

[2013-12-12 15:36] philtomson opened #140 "Packages not available for my compiler or OS? (Linux x86-64)"
I'm running on Fedora 18 (64bit x86). When I tried to build the Hello World example, I got:

$

[phil@quad mirage-skeleton]$ make basic-configure

mirage configure basic/config.ml --unix

MIRAGE Using the specified config file: basic/config.ml

MIRAGE Compiling and dynlinkg /mnt/mint/phil/development/OCaml_stuff/mirage/mirage-skeleton/basic/config.ml

MIRAGE + Executing: rm -rf /mnt/mint/phil/deve

[2013-12-12 17:13] avsm opened #141 "Remove the linker warnings for Xen dietlibc"
Being informed that "sprintf adds several kilobytes" really isn't very useful information

[2013-12-12 17:18] #141 closed, assigned to nobody

[2013-12-12 17:24] avsm opened #142 "mirage-cohttp: doesn't close connections on error"
If you run `lib_test/http` and send garbage down the wire, the connection isn't closed by the server.

[2013-12-12 17:38] mor1 opened #143 "`mirage clean` too aggressive"
eg., it removes the `mirage` package itself (for me at least).

suggestion on irc was to make `--no-opam` the default for `clean`.

[2013-12-12 19:03] #143 closed, assigned to nobody

[2013-12-13 13:07] avsm opened #146 "Docs: clarify that the minimum version 4.00.1, but 4.01.0 works fine too."
See http://openmirage.org/wiki/install#comment-1161246611 for some confusion on this.

[2013-12-13 13:49] avsm opened #147 "Mirage-types: KV_RO has no `mem` function"
@djs55 @samoht -- shouldn't we have a `mem` function for KV_RO?  Right now we have to `read` or `size` it to determine if it exists or not.

Also, `type error` for KV_RO isn't a polymorphic variant like the rest, so we could change that too while in there...

[2013-12-13 15:35] avsm opened #149 "Mirage-types: KV_RO `read` and `size` are inconsistent"
`size` returns an int64, and `read` only takes an `int` as the length. Why isn't this an int64?  Is the caller expected to chunk up a large size into smaller reads?

[2013-12-13 15:54] avsm opened #150 "Makefile generated from Mirage cmdline doesn't rebuild when source files change"
The main.native target needs to call `ocamlbuild` unconditionally, as it doesn't rebuild if one of the ocaml source files changes.  I keep needing to run `make clean` when I edit a file.

[2013-12-13 17:40] avsm opened #151 "Driver.KV_RO should be Driver.Crunch"
Since KV_RO is the module type

[2013-12-13 22:53] auvi opened #152 "ERROR [while installing optcomp.1.4]"
I am trying on OS X Mountain Lion. optcomp is not installing due to a checksum error.
Downloading http://opam.ocamlpro.com/archives/optcomp.1.4+opam.tar.gz with wget I get the following checksums.

S-H-A: 089c00a08f41f363821ec0c32430a41d378869e8
MD5: b365972fe528f21ce1bbe4b48ebf0b60

<pre>
 $ opam install mirage
The following actions will be performed:
 - install optcomp.1.4 [required by mirage]

[2013-12-14 10:59] #152 closed, assigned to nobody

[2013-12-14 11:31] #140 closed, assigned to nobody

[2013-12-14 11:54] #131 closed, assigned to nobody

[2013-12-14 15:19] michaelmior opened #153 "Unable to run basic example under Xen"
The example works fine when compiled as a Unix process, but the Xen image fails to run.

[code]

[2013-12-14 18:44] #153 closed, assigned to nobody

[2013-12-14 22:08] avsm opened #156 "mirage-types: Add printf-style logging functions"
Most uses of `log` end up calling sprintf, so we might as well expose proper printf loggers.

[2013-12-14 22:17] avsm opened #157 "mirage-cohttp: exn_handler has disappeared"
The pre-1.0 cohttp/mirage had an exn_handler for when the callback raised an exception.  This needs to be put back into the new 1.0 cohttp too.

[2013-12-15 17:54] #150 closed, assigned to nobody

[2013-12-18 00:02] avsm opened #161 "cohttp_mirage_xen inconsistent with mirage-tcpip-xen"
Something is going wrong with the xen variant when compiling mirage-www with mirage-1.0.3dev.  I suspect a mixup with the unix variant due to be compiled in the same directory in cohttp.  Needs more investigation.

[code]

[2013-12-18 00:39] yallop opened #162 "mirage-www: atom urls are invalid"
The title URLs in the [openmirage wiki atom feed](http://openmirage.org/wiki/atom.xml) turn into broken links in my aggregator, perhaps because they're relative rather than absolute.

[2013-12-18 03:16] philtomson opened #163 "Problem running Hello Mirage World on xen"
I've got Fedora 17 with the Xen hypervisor enabled kernel. Trying to run the Hello Mirage World example (from here: http://www.openmirage.org/wiki/hello-world ) on it.

Here's what I did:

$ mirage configure basic/config.ml --xen
$ mirage build basic/config.ml
$ mirage run basic/config.ml

The last command resulted in:
MIRAGE      Using the specified config file: basic/config.ml
MIRAGE      Compil

[2013-12-18 11:21] avsm opened #164 "Rewrite net_tap0 Driver_Initialization_error into something human readable"
See mirage/mirage-www#58 -- it would be nice to hint to the user that they may need to be root or otherwise set capabilities on the tap interface.

Quoth @djs55:

[2013-12-18 12:26] djs55 opened #165 "Switch Block.connect to a structured type like a URI?"
It's convenient to pass in some parameters to set things like buffered/unbuffered I/O in mirage-block-unix. Possibly we should add read/only vs read/write?

[2013-12-18 17:15] #161 closed, assigned to nobody

[2013-12-19 12:16] avsm opened #170 "1.0.4"

[2013-12-19 12:16] #170 closed, assigned to nobody

[2013-12-19 14:38] #146 closed, assigned to nobody

[2013-12-19 14:59] #162 closed, assigned to nobody

[2013-12-19 15:29] #39 closed, assigned to avsm

[2013-12-21 16:27] avsm opened #172 "document how to add extra packages"
See notes in #171

[code]

[2013-12-21 16:29] avsm opened #173 "mirage: add default tags for annot, bin_annot, principal and strict_sequence"
These are all good tags to have by default.

[2013-12-21 19:06] #173 closed, assigned to nobody

[2013-12-21 19:08] avsm opened #175 "Add `Mirage` function to add arbitrary tags to compilation"
Followup to #174 and #172 -- there may be other ocamlbuild tags that users want to add (such as `debug` or `inline`) and a programmatic way to do that is useful.

[2013-12-24 11:10] samoht opened #176 "io-page-unix: broken uninstall command"
[code]

Something a bit dodgy is that the install command mentions `io-page-xen` but that's maybe not very harmful.

[2013-12-24 11:21] #176 closed, assigned to nobody

[2013-12-24 11:51] avsm opened #177 "crunch compilation fails with 0-length files"
Found by @mor1 in mirage/mirage-decks#4

Fix incoming after lunch...

[2013-12-24 11:54] #177 closed, assigned to nobody

[2013-12-30 23:22] avsm opened #179 "Depend on external MiniOS library"
Now that @djs55 has mirrored mirage/xen, I need to:

* create a sub-tree filter of the mini-os directory
* add extra ifdefs to remove the drivers we don't need, such as console/xenstore
* remove our homebrew from there.
* install the headers properly so that they can be used for cross compilation too

[2013-12-31 19:31] #163 closed, assigned to nobody

[2014-01-01 10:25] jrrk opened #180 "Error while installing mirage-xen.1.0.0"
The documentation states that either 4.00.1 or 4.01.0 version of OCAML can be used. However mirage-den.1.0.0 only installs under 4.00.1 because 4.01.0 is a release candidate which is not recognised by the script (Error was Unknown OCaml version 4.01.0+rc2)

This error occurred on Fedora release 18 under kernel 3.9.6-200.fc18.x86_64
triggered by the command 'mirage configure --xen'

[2014-01-03 15:46] avsm opened #181 "fix support for multiple xen block devices"
The current heuristic is to select the first one, which breaks multiple block devices.  We need this for mirage-decks, as a full crunch results in a 40MB kernel.

[2014-01-05 13:41] avsm opened #182 "cross-compilation to ARM/Android"
Some notes from @cgreenhalgh about cross-compiling Mirage to Android:

http://lists.ocaml.org/pipermail/opam-devel/2013-September/000198.html

All of the notes are found here:
https://github.com/cgreenhalgh/ocaml-crosscompiling

@dsheets, could you add anything more you have to this issue on your OPAM cross compilation experiences as well?

[2014-01-05 13:59] avsm opened #183 "Get cohttp+vchan working across two domains"
Notes from @jonludlam on this:

[2014-01-05 14:01] avsm opened #184 "Cohttp mirage HTTP client"
The HTTP/Xen client is currently disabled, but should be straightforward to fix since the TCP stack has connect support now.

[2014-01-05 14:11] avsm opened #185 "Port Baardskeerder to KV_RO"
The Baardskeerder API looks very straightforward to port and run under Xen.  Some notes from @cgreenhalgh on this are:

[2014-01-05 17:39] avsm opened #186 "Document and port kFreeBSD backend"
Notes from @pgj on the kFreeBSD backend, and how to get it working using Mirage 0.9.4.  This needs porting to the new world order in 1.0, but the existing instructions are a great start:

[code]

Remarks from Gabor:
- I have prebuilt the FreeBSD packages using pkg(8), the next generation
  package manager and made them available on my department machine.  It takes
  some time to download the packa

[2014-01-05 17:41] avsm opened #187 "Experiment: UEFI backend"
@raphael-proust points out an interesting article on booting straight to UEFI.  It looks pretty straightforward to build a UEFI backend based on this article;

http://blog.theincredibleholk.org/blog/2013/11/18/booting-to-rust/

[2014-01-12 11:49] ghost opened #188 "Error while mirage configure --unix"
hello,

I'm trying to become a MirageOS user, and BTW an Ocaml user.

My environment is an Ubuntu (12.10) VM running on VirtualBox.

Following instructions in http://openmirage.org/wiki/install
I successfully got the mirage --help command working.
Well I add to install opam from sources instead of actually following strictly the info of the page.

When I moved to the hello example, while following

[2014-01-14 15:41] avsm opened #191 "mirage-block-unix extends the underlying block device when out of bounds"
In mirage-skeleton/basic_block, a couple of the expected failures become successes on Unix:

[code]

The reason is that the Unix block device extends the underlying file image if something is written out of bounds, which is probably not the behaviour we want.  It would be best to have an explicit block resize operation to match Xen and minimise surprise.

[2014-01-15 11:09] avsm opened #192 "Experiment: Raspberry Pi backend"
See: https://github.com/mrvn/raspbootin/

for a bootloader for the rPi which works well with a serial cable.

[2014-01-15 11:20] avsm opened #193 "Testing: packet generation using Ostinato"
This came up in a conversation with @balrajsingh and @crotsos a few times: I found a nice packet generation tool that we could hook into the various stacks for more testing.

https://code.google.com/p/ostinato/#Documentation

[2014-01-17 19:05] mor1 opened #196 "conflicting xen and unix packages"
done some builds with `MODE=unix` on a xen VM; switched to `MODE=xen`. got the following:

[code]

shouldn't we conflict the `-unix` and `-xen` packages in opam?

[2014-01-20 12:15] avsm opened #198 "mirage-console is missing a Travis"
Can add one into the 1.1.x branch

[2014-01-21 16:20] jonludlam opened #200 "V2: Need a write function in the console signature"
The mirage console is read only at the moment.

[2014-01-27 23:24] mor1 opened #202 "apparently odd set of dependencies triggering opam behaviour"
trying to determine some apparent confusion about provided implementations of some interfaces when building my site, i tried removing some of the collisions:
[code]
if `mirage-tcpip-unix` is to be removed, how is `cohttp` to be recompiled using it?

possibly these are opam issues, but i also wondered whether this indicated issues with the opam package files for one or more of the packages above?

[2014-01-28 11:21] avsm opened #203 "V2 improvements:"
Keeping a list of improvements to module types in V2:

- [ ] Remove use of float in time-related operations, and switch to int64 instead.  This will make the kFreeBSD port easier and generally remove the dependency on floating point.

- [ ] Turn the stats gathering (e.g. in NETWORK) into an module type that can be included for every device.  Possible link to the RRD stats gathering daemon  (/cc @d

[2014-01-28 12:11] #196 closed, assigned to nobody

[2014-01-29 10:51] mor1 opened #204 "clean is too aggressive"
...specifically, `mirage clean` removes generated FAT filesystem images which can then take noticeable time to regenerate.

i think it would make sense to split this behaviour out into something like a `distclean` command...

[2014-01-29 10:54] mor1 opened #205 "too little logging output when invoking `opam install`"
when mirage invokes `opam install` it goes silent -- there's no indication if any progress is being made. it would be useful feedback to have some console output as it installs things...

[2014-02-02 15:12] avsm opened #209 "crunch should dedup files"
mirage-decks is massive now, due to the duplication of images.  We could very easily fix this in crunch by reading in all the files and folding the pattern match keys for the same content chunks.

OrwecoulduseIrminsule

[2014-02-10 10:30] avsm opened #214 "Create a `mirage-homepage` binary"
This should take a directory of static files (e.g. a Jekyll output) and output an EC2-bootable kernel (i.e. backend Xen, network DHCP and a pvgrub block device).

@djs55 notes:

[2014-02-10 23:46] avsm opened #218 "Pass SO_REUSEADDR to socket backend"
The tcpip socket backend doesn't set REUSEADDR on listening sockets, making local development very annoying.  The direct backend is easier :-)

[2014-02-11 12:26] avsm opened #219 "Sockets backend isnt catching exceptions right"
This is a regression since we made the `Channel.Closed` exception abstract, so it's now silently not being caught!  It does point to a missing try_bind somewhere in Cohttp core though.

This is trivially reproduced in Mirage 1.1 by using `mirage-skeleton/stackv4` and running CURL against it.

[code]

[2014-02-11 15:15] amirmc opened #220 "Consistent use of terms i.e unikernel vs microkernel"
I just saw that the man page for `mirage` mentions microkernel.  should this say unikernel instead?

[2014-02-12 15:50] avsm opened #221 ""text file busy" when doing stackv4 install"
via @jac90 on mirageos-devel:

[code]

@djs55 notes this is because we are upgrading the Mirage binary during a build.  This is because an optional dependency is recompiled, when installing an OPAM package.

[2014-02-14 18:26] buzzheavyyear opened #222 "Hello Mirage World on Ubuntu (12.04) 32bit"
Hi
I installed and ran the unix version without problems using http://openmirage.org/wiki/hello-world, but when compiling for Xen I got the following errors - looks like X86_64 opam libraries instead of X86_32, but I'm not too sure where to find help on how to fix this.

(Also, on http://openmirage.org/community, the link for  'Mirage issue tracker' should be 'https://github.com/mirage/mirage/issu

[2014-02-16 23:18] #220 closed, assigned to nobody

[2014-02-17 11:53] #221 closed, assigned to nobody

[2014-02-17 11:54] avsm opened #224 "publish binary vagrant images"
See @mor1's mirage/mirage-vagrant-vms repo.

In particular, we need to review the OPAM-in-a-box image and possibly rebase off that and combine the vewee stuff.

See ocaml/opam#1035 for the opam-in-a-box repo

[2014-02-20 23:49] avsm opened #225 "backtraces are not on by default"
The `main.ml` generator could also add

[code]

which would work on all the backends and not depend on a Unix feature

[2014-02-21 00:11] avsm opened #226 "STACKv4 can't transmit UDPv4"
We didn't expose a `Udpv4.t` in the `Stackv4` module type, which means that it's impossible to ever respond to UDP traffic from within a unikernel.

This wasn't noticed as the TCP interface for listening provides such a type, but UDP obviously has no notion of a flow.

Unfortunately, fixing this will require changing STACKv4 a little, but the breakage is localized to just `mirage-tcpip`, so it sho

[2014-02-21 13:23] #218 closed, assigned to nobody

[2014-02-21 13:23] #219 closed, assigned to nobody

[2014-02-21 13:27] #188 closed, assigned to nobody

[2014-02-21 13:38] #225 closed, assigned to nobody

[2014-02-21 13:38] #226 closed, assigned to nobody

[2014-02-26 17:08] julianchesterfield opened #228 "Use static boot config params to acquire IP address, net mask and GW for xen unikernel"
Following discussion during project meeting, we need a way to bootstrap a unikernel with a static assigned IP address from the xen config. There are some parameters that may be usable:

ip=x.x.x.x
netmask=255.x.x.x
gateway=x.x.x.x

also the vif=[] parameter allows assignment of IP address in the form:

vif=['bridge=br0,vifname=974f799d,mac=DE:AD:BE:EF:02:12,ip=10.200.2.12']

Longterm we should con

[2014-02-26 17:32] avsm opened #229 "Xen: bind kernel cmdline to OS.Env"
We need to expose the kernel command-line from the start_info page into the OS.Env module so that libraries can use it.

Necessary to fix #228

[2014-02-26 18:12] amirmc opened #230 "`mirage run` fails."
I'm having a problem getting a `--unix` build of a static website to run (I'm on OSX 10.8.5).

I'm using [mirage-skeleton/static_website](https://github.com/mirage/mirage-skeleton/tree/master/static_website) and the `configure` and `build` steps
seem to work fine  but `mirage run` gives me the following:

[code]

I can get the unikernel to run via `sudo ./mir-www`

_(previously [posted on the mira

[2014-02-26 19:47] #180 closed, assigned to nobody

[2014-02-26 19:49] avsm opened #231 "Cloud Init support"
We'll need CloudInit support to properly do autoconfiguration on EC2 (and possibly Rackspace/OpenStack).

Related to the short-term hack in #228 until we get this integrated into the network stack.

[2014-03-03 14:01] hannesm opened #232 "TCP client (using tap interface) fails on FreeBSD"
as reported on the mirage-devel mailing list:

code https://github.com/mirleft/ocaml-tls/tree/19715ce882c568dd4f3953960bd55b3889737371/mirage-client

interleaved commented shell interaction

[code]

What makes me wonder here is that the IP address in the ARP frame is 0.0.0.0 (I'd have expected 10.0.0.2).

version information:
mirage                   1.1.1  The Mirage library operating system
mira

[2014-03-03 14:15] hannesm opened #233 "duplicate ack after fin"
(report from mirage-devel mailing list on 15th February 2014):

While writing some mirage code, I discovered that the TCP layer sends
a duplicate ack after a fin (which is fin + ack):

client --SYN-(seq=0)-> mirage
mirage --SYN-ACK-(seq=0,ack=1)-> client
client --ACK-(seq=1,ack=1)-> mirage
client --data-(seq=1,len=7)-> mirage
mirage --FIN-ACK-(seq=1,ack=8)-> client
mirage --ACK-(seq=2,ack=8)-> cli

[2014-03-15 20:07] edwintorok opened #234 "mirage unikernel: can crash dom0 kernel"
I [just reported a bug on xen-devel](http://lists.xen.org/archives/html/xen-devel/2014-03/msg01719.html) about a dom0 kernel panic triggered by a simple OpenMirage unikernel:
[   87.779435] vif vif-2-0 vif2.0: Cross page boundary, txp->offset: b68, size: 1460
[   87.780570] vif vif-2-0 vif2.0: fatal error; disabling device
[   87.781403] BUG: scheduling while atomic: swapper/0/0/0x00000100
[   87.

[2014-03-17 12:03] avsm opened #235 "dns cache: check for resolver poisoning"
Here's one attack we should avoid in the (as yet unwritten) DNS resolver cache:

[2014-03-25 22:48] avsm opened #236 "Create a library trove on the website"
We ought to maintain a list of libraries and locations on the website, since they are scattered around several organizations right now (such as mirage, xapi-project, and xen-org). Let's assemble the list on this ticket, and then I can create the webpage in one go.

Organizing by organization:

[mirage/mirage-block-volume]: Linux LVM volume reader
[mirage/mirage-block-xen]: blkfront, blkback
[mirag

[2014-03-27 21:46] avsm opened #238 "DHCPv4: what do we do with Interface_mtu"
If a DHCP server returns an `Interface_MTU` option, we currently ignore it.  If I remember correctly, Netfront doesn't really care about the MTU setting, but this may affect the backend physical device (which obviously does have a real MTU).

[2014-04-01 17:32] #209 closed, assigned to nobody

[2014-04-01 17:33] #139 closed, assigned to nobody

[2014-04-19 19:00] avsm opened #240 "support accelerated netfront protocol"
Instructions via @jpemartins:

[code]

[2014-05-08 10:34] avsm opened #242 "Tasks for getting OCaml-TLS working on Xen"
Can create subissues as appropriate. We need at least:

- [ ] get a good entropy source (dom0 /dev/random) and create frontend driver. See virtio-rng as example of interface.
- [ ] mirage-http needs DNS resolution and client implemented
- [ ] C bindings for the lightweight libgmp in mirage-platform
- [ ] C bindings for block / stream ciphers and hash algorithms
- [ ] server constructor in https://

[2014-06-02 19:36] avsm opened #244 "RRD logging support"
Possibly better in Irmin, but the http://github.com/xapi-project/rrd-transport provides a nice way to log streaming stats without a lot of allocation.  Possibly good for TCP stack to expose, among others.

[2014-06-10 21:28] mor1 opened #245 "name fat images so that xen will "mount" them"
per the call today: the created fat image needs to be named with the node number and mounted as /dev/loopN so that the various xen bits will dtrt when the config file specifies them. this means bits of scripts should also be generated to allow them to be mounted as /dev/loopN

i have a part complete implementation of most of this in my block-nodenumber-hack branch. i *think* the last (or possibly

[2014-06-17 16:21] #205 closed, assigned to nobody

[2014-06-18 13:16] #232 closed, assigned to nobody

[2014-06-19 11:39] johkra opened #254 "Cannot build for xen on Archlinux, unix works"
I cannot build for xen, but unix works fine. I use Archlinux x86_64 with xen 4.4 and opam from AUR. I only tried examples from mirage-skeleton.

To reproduce I removed all opam packages, installed mirage and then executed `mirage configure --xen` and `mirage build` for the console example.

[code]

Doing the same with `mirage configure --unix` works and I can successfully run the executable. My in

[2014-06-19 22:17] #254 closed, assigned to nobody

[2014-07-01 14:56] #132 closed, assigned to nobody

[2014-07-01 14:59] #111 closed, assigned to nobody

[2014-07-01 15:00] #102 closed, assigned to nobody

[2014-07-01 15:32] amirmc opened #257 "Blog posts in the run up to OSCON"
We've discussed that we will have a [series of blog posts in the run up to OSCON](http://openmirage.org/wiki/weekly-2014-06-24/#BlogpostspreOSCON) so this issue is to track progress of those posts. This issue will be edited as things change/progress and we pick release dates for those posts. Please don't wait for a prompt to get started :)
All posts should be out by 21 July 2014.

**Security** by

[2014-07-02 07:41] ronys opened #258 "mirage configure --xen && make fails on Ubuntu 14.04 LTS"
$ mirage configure --xen && make
MIRAGE      Using the scanned config file: config.ml
MIRAGE      Compiling and dynlinking /home/ronys/git/mirage-skeleton/console/config.ml
MIRAGE      + Executing: rm -rf /home/ronys/git/mirage-skeleton/console/_build/config.*
MIRAGE      + Executing: cd /home/ronys/git/mirage-skeleton/console && ocamlbuild -use-ocamlfind -tags annot,bin_annot -pkg mirage config.c

[2014-07-07 21:17] avsm opened #263 "update docs for pkg-config dependency"
When #247 is merged, we will need `pkg-config` to be installed in the system for the Xen backend.  The initial setup instructions need to be updated to reflect this.

[2014-07-08 09:35] avsm opened #264 "mirage 1.2 no longer auto installs crunch"
[code]

At a minimum, we should instruct the user to `opam install crunch`, since there's no clear tie between `ocaml-crunch` and that command.

[2014-07-09 15:03] talex5 opened #266 "Generate a main.ml that compiles without warnings"
Currently we get e.g.

    let t1 () =
      console1 () >>= function
      | `Error e -> fail (Failure "console1")
      | `Ok console1 ->
      stackv41 () >>= function
      | `Error e -> fail (Failure "stackv41")
      | `Ok stackv41 ->
      M1.start console1 stackv41

When compiling with warnings on, this warns about the unused `e` variables.

Ideally, it should actually report the error bac

[2014-07-14 10:53] amirmc opened #269 "Add flag to rebuild and run on file change"
When I'm checking that mirage-www builds locally, and proof-reading blog posts, I constantly run the following command:
[code]
(and also the `ifconfig` in another terminal window).

I'm somewhat spoiled by `$ jekyll serve --watch` so it would be convenient to have something similar for unikernels.

[2014-07-16 14:24] avsm opened #271 "Include cstruct.syntax by default in the generated unikernel"
Cstruct.syntax is very useful and could just be included by default in the CLI tool without breaking backwards compatibility.

[2014-07-16 16:12] djs55 opened #272 "xen: Avoid generating paths in Makefile containing '.opam/...'"
The Makefile needs to supply the linker script and libraries (libxen.a et al). It would be better to look them up dynamically, since then I could run 'mirage configure' and include the Makefile in a release.

This is the kind of thing I'm thinking of:

https://github.com/djs55/xen-testvm/commit/55a516d89e9550d471685eb547518cc66ff7bf66

[2014-07-21 12:24] samoht opened #273 "Add a combinator for list of states"
tap1; tap2], that is defined in config, can be passed as a parameter to
the Main module in unikernel.ml?

[2014-07-21 13:04] avsm opened #274 "mirage-www on ARM crash"
Trying to get mirage-www working on ARM and I get:

[code]

with the PC somewhere in Pervasives;

[code]

static_website works for me, so this is perhaps due to the size of the crunched mirage-www?  I gave it 256MB which should be enough in the normal course of things.

[2014-07-22 10:16] amirmc opened #275 "make depend does not pull down fat-filesystem"
I just updated my travis script to include the `make depend` step but it didn't pull down `fat-filesystem`

The relevant part of the script is:
[code]
The error can be seen on my [travis log](https://travis-ci.org/amirmc/amirmc.github.com/jobs/30509271#L407) (line 407).

Explicitly adding `fat-filesystem` to the initial `opam install` step solved the problem (cf [build logs](https://travis-ci.org/

[2014-07-22 16:24] #257 closed, assigned to nobody

[2014-07-23 13:31] samoht opened #276 "`make` should display the list of available targets (and advertise `make depend`)"
Received in my inbox:

Seems that we are missing a `make depend` somewhere in the docs.

[2014-07-23 15:44] #230 closed, assigned to nobody

[2014-07-24 01:33] mor1 opened #277 "unix build requiring `libminios-xen`?"
after pinning mirage to HEAD, travis build of mirage-decks fails.

both xen and unix builds fail as unable to find openlibm and libminios-xen

https://travis-ci.org/mirage/mirage-decks/builds/30709000

@talex5 any ideas?

[2014-07-24 02:16] #277 closed, assigned to nobody

[2014-07-25 23:33] avsm opened #278 "Comments on Mirage website posts"
Instead of supporting Disqus, I think we should port the Real World OCaml-style comments by using Irmin as the backend this time.  This issue tracks support for this.

Limitation of no comments noted by @samoht

[2014-07-30 13:57] Chris00 opened #280 "Configure Stackv41.listen_tcpv4 ~port"
- It would be nice to be able to configure the port of the HTTP server (say for the `static_website` in `mirage-skeleton`) without having to modify the line `Stackv41.listen_tcpv4 ~port:80` in the generated `main.ml`.  An option in `config.ml` woud be nice be maybe also the possibility to set it through the `NET` variable: `NET="socket:8080"`

- IMHO it would also be better to have the default set

[2014-07-31 08:17] vlotho opened #281 "mirage on cubietruck nand"
hi,
Currently, I have a CT with a sd card that is installed with a version of mirage. sd starts without a problem but I want to copy the boot and system on nand. How could I do? I have only one partition ext4 !!

[2014-08-01 07:34] avsm opened #282 "Async support in Mirage/Xen"
Here's a thread from the mailing list that lays out some of the steps to support Async in Mirage/Xen mode.

[2014-08-03 16:53] #281 closed, assigned to nobody

[2014-08-12 15:14] avsm opened #284 "Command to spawn unikernel on XenServer / XenAPI"
See mirage/mirage-skeleton#47 for discussion..

@djs55 has code to build a `xe-start-unikernel` to package up PV unikernels on XenServer.  This should be a separate command, not part of mirage, but can be built from this repo (or a dependency separately perhaps?)

[2014-08-20 14:56] avsm opened #287 "Conduit 0.6.0 merge progress"
Goal of this changeset (across multiple repositories) is to let the Mirage HTTPS client work.  It requires adding DNS resolution and connection establishment to the Mirage libraries.  Components need to be merged simultaneously, so will update here as pull requests are created.
- [x] OPAM dev remote with all the changes in https://github.com/mirage/mirage-dev
- [x] Conduit 0.6.0 - TODO design note

[2014-09-02 20:10] djs55 opened #289 "clock is not a device"
This generated code doesn't work for clocks:

[code]

because Clock is a singleton with no 'connect' method.

[2014-09-07 15:04] #289 closed, assigned to nobody

[2014-09-20 13:54] djs55 opened #296 "Mapping in foreign grants fails on ARM"
We currently have grant mapping functions in the xen/runtime/xencaml/gnttab_stubs.c which don't work on ARM. Looking at the new mini-os, it seems to be growing APIs which look a lot like the Linux userspace versions. We should:
- [x] Add a simple loopback grant mapping test case (easier to use than a loopback disk or vif)
- [x] Modify the mirage-xen stubs to call the mini-os functions instead of t

[2014-10-05 14:09] avsm opened #298 "x86 MiniOS seems to spin 100% since switch to external version"
Both decks.om.org and mirage-www are spinning at 100% CPU (but serving traffic fine).  Need to investigate if event blocking has been broken recently with the ARM/x86 split.

[2014-10-09 06:51] samoht opened #299 "don't use camlp4 on crunched files"
The mirage tool should not try to use camlp4 on crunched files, this make the compilation time of `mirage-decks` on the cubie takes ages.

[2014-10-13 22:18] amirmc opened #301 "Error installing mirage-http"
On an otherwise up to date switch, adding the `mirage-dev` repo and then updating led to the following error.  Not sure if it's transient but noting it here anyway.

[code]

[code]

[2014-10-16 16:36] #298 closed, assigned to nobody

[2014-10-16 22:54] djs55 opened #303 "On unix, missing 'mirage-unix' package"
With the mirage-dev remote, building mirage-www does this:

[code]

Manually adding '-package mirage-unix' to the command-line fixes it.

[2014-10-18 00:47] #303 closed, assigned to nobody

[2014-10-22 13:24] piffio opened #306 "Cannot build xen-api-client with packages from mirage-dev"
When running opam packages from the mirage-dev repo, it's not possible to build the `xen-api-client` module due to some incompatibilities introduced in the recent version of `cohttp`.

Opam remotes:
[code]

Output from `opam list`
[code]

Compilation error:
[code]

[2014-10-22 15:12] MagnusS opened #307 "Error when installing mirage-xen with 4.02.1 and opam 1.2"
On Ubuntu 14.04 with opam/ocaml from ppa:avsm/ocaml42+opam12 (and mirage-xen 1.1.1)

[code]

[2014-10-26 20:21] mor1 opened #308 "mirage-http broken on cubieboard"
mirage-http requires conduit-mirage requires vchan.2.0.0

vchan.2.0.0 fails to build

am investigating via skeleton now, but is this a known issue?

if so, any suggestions how to get mirage-decks onto a cubieboard in time for presentation on tuesday?!

[2014-10-28 11:59] avsm opened #311 "provide a config.ml library in mirage"
There are a *lot* of ad-hoc config.ml fragments floating around now.  We should factor these somewhere so they can be used with less boilerplate.  Also confusing to remember which env variables to set for a particular setup.

[2014-10-28 20:53] avsm opened #312 "disable passing crunch files through lwt.syntax"
This is realllly slow on ARM and can lead to Stack_overflow exceptions too (see: http://lists.xenproject.org/archives/html/mirageos-devel/2014-05/msg00055.html )

The Makefile needs the `_tags` equivalent of:

[code]

for crunch files.

[2014-10-28 21:04] #312 closed, assigned to nobody

[2014-10-28 22:33] avsm opened #313 "Add HVM booting support to MiniOS"
This is initially to support HVM in Xen, but eventually to use the same bootloader on KVM and VMWare backends.

@jonludlam had some experimental trees that did this a few years ago -- are they still around Jon?

From @djs55 on mirageos-devel:

[2014-11-03 17:55] #284 closed, assigned to nobody

[2014-11-03 17:56] #274 closed, assigned to nobody

[2014-11-21 16:36] #308 closed, assigned to nobody

[2014-11-23 09:25] #287 closed, assigned to nobody

[2014-12-01 19:11] #164 closed, assigned to nobody

[2014-12-01 20:14] avsm opened #331 "Add HTTP client generators to Mirage"
Right now the `mirage.mli` definitions only cover an HTTP server, but we also support HTTP clients.  See mirage/mirage-skeleton#58 for an example of what this should look like.  An extract follows:

[code]

The HTTP client requires a Conduit and a Resolver_lwt, which were constructed via this `config.ml` fragment:

[code]

[2014-12-02 14:46] toby-m opened #333 "Unsupported gmtime call from on AWS xen"
Using these from OPAM:
[code]

Throws this error:
[code]

I'm not passing a default_clock or anything in, the config.ml main looks like this:
[code]
It's working fine on a unix build, and compiles fine for xen but fails at runtime on AWS. I haven't been able to test on other xen platforms yet.

[2014-12-02 16:47] avsm opened #334 "Switch `xen`, `unix` and `--no-macosx` flags to one `platform=`"
The various flag combinations aren't designed to be used with each other, and so we should switch over to a more extensible flag format (keeping `--xen` and `--unix` as compatibility shims).

See discussion:
http://lists.xenproject.org/archives/html/mirageos-devel/2014-12/msg00008.html

[2014-12-10 11:32] #334 closed, assigned to nobody

[2014-12-10 12:48] #299 closed, assigned to nobody

[2014-12-28 13:45] rowlandwatkins opened #342 "Customise HTTP server and OS name"
Hi folks,

Is there any way to customise the HTTP server name and OS name when interrogated by clients?

Cheers,

Rowland

[2015-01-08 12:44] talex5 opened #343 "IO_PAGE definition is duplicated and inconsistent"
`types/V1.mli` contains an `IO_PAGE` signature that is similar to the type of Io_page, but not quite the same. e.g.

`io_page.mli`:

    val get : int -> t
    (** [get n] allocates and returns a memory block of [n] pages. If
        there is not enough memory, an [Out_of_memory] exception is
        raised.  Note that this may be a recoverable situation, since
        this function allocates memo

[2015-01-08 12:49] samoht commented on #343
That would be very useful to add more abstraction and clean the mess around io_page. I guess one of the problem is we want to have abstraction AND efficiency, as io_page is the base of all of our IO code.

[2015-01-10 05:34] drbo opened #344 "Cam"

[2015-01-10 05:38] drbo opened #345 "mirage-console-unix requires mirage-types < 2.2.0, which doesn't exist for ocaml 4.01.0"
When I try to install `mirage-www`, I get this error:

[code]

This seems like a bug in the dependencies of `mirage-console-unix`.

[2015-01-10 10:32] avsm commented on #345
This is an older package -- @samoht, remind me again why we removed this from the repo for newer mirage?  We could replace it with a mirage-www binary that crunches up a website into a Xen stack website unikernel instead of the live website.

[2015-01-10 10:33] avsm commented on #345
For now, to get mirage-www you can:

[code]

and see the `Makefile` for options.

[2015-01-10 11:55] #344 closed

[2015-01-14 00:18] drbo commented on #344
Sorry for the empty issue

[2015-01-22 13:40] heidi-ann commented on #258
I got this error on cubieboard2 and it still works fine

[2015-01-22 23:04] Chris00 opened #348 "Fix or remove “mirage run”"
`mirage run` [does not completely work](https://github.com/mirage/mirage-www/pull/256#issuecomment-70887186).  This should be fixed or `mirage run` be removed since it is as easy to run the binaries directly.

[2015-01-23 17:15] heidi-ann opened #349 "remove need to pass "xvda1" to block_of_file for xen backends"
issue discussed at https://github.com/mirage/mirage-skeleton/pull/69#issuecomment-71226567 and https://github.com/mirage/xen-arm-builder/issues/47

[2015-01-26 16:56] talex5 commented on #349
It's not clear to me what you could do about this. The Unix file and the Xen block device genuinely have different names, so you need to give both.

The only options I can think of are:

1. Name the Unix file `xvda1` so it just happens to match. This would work for the examples (except that there's currently a bug in `mirage` preventing it - if the file exists, it converts to an absolute path, eve

[2015-01-29 09:41] heidi-ann opened #354 "ARM error on boot - error: panic: failed to mmap domU pages"
I seeing this issue increasingly on the cubieboard2 (ARM) and I've not sure what to do about it, normally fixed by mirage cleaning and starting again or starting again in a new directory but I can't see to get rid of it this time

[code]

[2015-01-29 10:03] talex5 commented on #354
Sounds more like a Xen problem (looks like it doesn't get as far as booting because it can't allocate the RAM for the new domain). Does `xl list` show anything still running?

(as a test, you could try booting a Linux guest and see if that works)

This looks similar:

http://lists.xen.org/archives/html/xen-devel/2014-03/msg01504.html

[2015-01-29 10:40] heidi-ann commented on #354
sorry if this is the wrong issue tracker then

for example in one case I've already got:
[code]
and I want to run another unikernel, I've configured the xl to give it the new one less than 256 so its not using all the mem

[2015-01-29 10:41] heidi-ann commented on #354
but destroying unikernel1 will let run the new unikernel

[2015-01-29 10:43] avsm commented on #354
You're out of memory.  Drop the size of the unikernel1 to 128 or less and you should have room.

[2015-01-29 10:44] heidi-ann commented on #354
Fixed, It seems that the cubieboard2 has about 300 mem that's unusable hence the problem :)

[2015-01-29 10:44] #354 closed

[2015-01-29 10:45] talex5 commented on #354
I think there's some issue with the memory needing to be contiguous or something, so it might not all be usable. Unikernels shouldn't need much anyway (16MB or so is usually fine).

[2015-01-29 10:48] djs55 commented on #354
The memory used by Xen itself is hidden from "xl list". Also things like
crash kernels are hidden (although I doubt we've got one of those). Have a
look at "xl info", in particular:

[code]

On Thu, Jan 29, 2015 at 10:44 AM, Heidi-ann <notifications@github.com>
wrote:

--
Dave Scott

[2015-01-29 11:11] avsm commented on #348
I'd be inclined to remove it, as the Makefile generates the xen files too.  Opinions, @talex5 @djs55 @mor1 @samoht ?

[2015-01-29 11:13] talex5 commented on #348
Yes, remove it. I don't think it adds anything. It just makes the process appear more complicated than it is. I never use it anyway.

[2015-01-29 11:15] samoht commented on #348
got for it

[2015-01-29 11:15] talex5 commented on #348
(what would be useful, however, would be including `Makefile.user` or similar so users can add their own rules without them being overwritten each time `mirage` is run).

[2015-01-29 13:28] mor1 commented on #348
absolutely (could've sworn i said the same thing before at some point in another venue -- perhaps it was the email list). kill it with fire by all means :)

(i agree with @talex5 suggestion for including `Makefile.user` or somesuch. fwiw when i use oasis generated `Makefile`s, i tend to find the first thing i do is edit outside the auto-gen piece to add an `-include Makefile.config` preamble and `

[2015-01-29 15:11] Chris00 commented on #348
Another solution is to delimit the line-range where mirage writes by special comments (as, say, OASIS does).  That way, the user may add code before and/or after.  Also, if not already done, some targets like `clean` should end with double colons to be able to extend them.

[2015-01-30 09:49] avsm opened #357 "Crash on startup with latest mirage-www"
Since the switch to mirage-xen-2.2.1, the Mirage-www build has been crashing on Xen 4.1.  I can't quite pin this down to a local repro case, so could anyone with a Xen box handy try to boot this kernel:

https://github.com/mirage/mirage-www-deployment/tree/master/xen/bf43f36e2f0a9428263439c627566878a1c811d2

If it crashes or succeeds on boot, it would be useful to know.
[code]

This doesn't happen

[2015-01-30 10:12] talex5 commented on #357
Crashes for me on Xen 4.4 (under VirtualBox):

    Page fault at linear address 28, rip 1dce4e, regs 000000000088fd38, sp 88fde0, our_sp 000000000088fce8, code 0
    Page fault in pagetable walk (access to invalid memory?).

[2015-01-30 10:18] yomimono commented on #357
Xen 4.4 (specifically, 4.4.1-0ubuntu0.14.04.3):

[code]

[2015-01-30 10:19] avsm commented on #357
It seems to be fixed by deletes some of the crunch files.  I wonder if we've forgotten a linker script somewhere

[2015-01-30 10:32] avsm commented on #357
Works on

[code]

(XEN) Xen version 4.4.1 (Ubuntu 4.4.1-0ubuntu0.14.04.2)

[2015-01-30 10:33] talex5 commented on #357
I suspect this may be the cause of the "pagetable walk" error (in Mini-OS traps.c):

    void dump_regs(struct pt_regs *regs)
    {
        printk("Thread: %s\n", current->name);

Maybe try with `if (current != NULL)` in there?

[2015-01-30 10:35] avsm commented on #357
I can only get it to crash on a deployment server that can't rebuild it, annoyingly :) If you have a crashing box with a dev environment and can trace it down, that would be most helpful...

[2015-01-30 12:06] djs55 commented on #357
It crashes for me on Xen-4.4.

On Fri, Jan 30, 2015 at 10:35 AM, Anil Madhavapeddy <
notifications@github.com> wrote:

--
Dave Scott

[2015-01-30 12:08] avsm commented on #357
A delicious bar of chocolate to the person who finds the bug...

[2015-01-30 13:32] talex5 commented on #357
When I build it myself, it doesn't crash. However, I've pushed the error reporting fix to Mini-OS here, so you should be able to build one that gives a register and stack dump at least: https://github.com/talex5/xen/commits/devel

[2015-02-05 17:41] koleini commented on #357
netif-forward in mirage-skeleton also crashes since switching to mirage-xen-2.2.1.

It doesn't crash if instead of 2 vifs in xen config, 3 vifs are defined, and the name of the first vif has to be alphanumeric (I was using numeric names before!)

[2015-02-09 12:34] mor1 commented on #357
@koleini that looks like it might be a separate error so worth creating a separate issue, with as much context as you have (pointer to test code, details of setup, xen console output, etc).

re this issue -- fwiw, hit the same error when trying to start the tutorial or decks unikernel for deployment on punk.

[code]

and

[code]

[2015-02-10 14:20] mattgray opened #363 "tap0 interface is created with ipv6 only?"
I'm trying to run the example services in mirage-tcpip, but I'm unable to make them respond on ipv4
Running Ubuntu 14.04.1 LTS

steps:

[code]

(with mir-services running)

[code]

I'm not able to add the ipv4 route to 10.0.0.2

Matt

[2015-02-10 14:20] mattgray commented on #363
Here's the generated main.ml
[code]

[2015-02-10 14:23] mattgray commented on #363
[code]

[2015-02-10 14:57] mattgray commented on #363
I can make it work, if I manually configure tap0 before running the example:
[code]

When I run the mir-service now, I get
[code]
and ping / other examples work

[2015-02-11 10:00] talex5 commented on #357
The bad version (compiled in an Ubuntu 12.04 docker container with the Travis script) looks like this:

    00000000001c8aab <caml_format_int>:
      1c8aab:	53                   	push   %rbx
      1c8aac:	48 83 ec 30          	sub    $0x30,%rsp
      1c8ab0:	48 89 f3             	mov    %rsi,%rbx
      1c8ab3:	64 48 8b 04 25 28 00 	mov    %fs:0x28,%rax		; <<<< stack protector?
      1c8aba:	00 00

[2015-02-11 10:09] talex5 commented on #357
Here's the problem:

    # This extra flag only needed for gcc 4.8+
    GCC_MVER2=`gcc -dumpversion | cut -f2 -d.`
    if [ $GCC_MVER2 -ge 8 ]; then
      EXTRA_CFLAGS="-fno-tree-loop-distribute-patterns -fno-stack-protector"
    else
      echo $GCC_MVER2
      exit 1
    fi

But on Ubuntu 12.04 (used by Travis), gcc is only 4.6:

    # gcc --version
    gcc (Ubuntu/Linaro 4.6.3-1ubuntu5) 4.6.3

[2015-02-11 11:09] avsm commented on #357
Confirmed at https://wiki.ubuntu.com/Security/Features.  We could also just put in the stack smash stub (which I thought we already had), but restoring a non-crashing version first would be good.

[2015-02-11 14:18] talex5 commented on #357
This should fix it:

    opam pin add mirage-xen-minios 'https://github.com/talex5/mirage-xen-minios.git#b0.6'

[2015-02-11 14:23] avsm commented on #357
That doesnt work out of the box since a mirage-xen-minios pin needs the tarballs included in the distfile as well, annoyingly...

[2015-02-11 14:56] talex5 commented on #357
Doesn't it download them automatically if they're missing?

[2015-02-11 15:06] avsm commented on #357
dont believe the opam package does

[2015-02-11 15:39] talex5 commented on #357
The one on opam-repository doesn't, but the opam file in the Git repo does, and Travis is using opam 1.2 so it should use that.

[2015-02-11 15:39] avsm commented on #357
thats useful!

[2015-02-13 09:54] avsm commented on #357
Released in opam, and website updating again.  Thanks all!

[2015-02-13 09:54] #357 closed

[2015-02-16 17:38] samoht commented on #343
Closing as #356 as been merged

[2015-02-16 17:38] #343 closed

[2015-02-16 17:40] samoht commented on #345
can't remember why exactly ...

[2015-02-17 09:34] heidi-ann opened #367 "Missing unix dependencies when compiling for xen"
make is failing with the following:
[code]
when compiling for a xen backend but compiles successfully for a unix backend.

Here is the makefile produced by mirage configure --xen

[code]

And for comparison, here is the makefile for unix backends

[code]

Mirage version is current master, ipaddr is 2.5.0 from OPAM and lwt is 2.4.7 from OPAM. I am compiling the mirage example in https://github.com/

[2015-02-17 09:35] avsm commented on #367
youre linking in the socket stack -- check config.ml and make sure you do NET=direct or whatever is needed for that.

[2015-02-17 09:40] heidi-ann commented on #367
thanks, will add to my list of common errors :)

[2015-02-17 09:40] #367 closed

[2015-02-17 09:44] avsm commented on #367
this error is particularly inscrutable unless you know what you're looking for -- it should probably be fixed somewhere else to not even allow the Unix libraries to link into a Xen unikernel.

[2015-02-17 09:46] heidi-ann commented on #367
i think the issue is also that everyones config.ml files are different (my env var had the wrong name), it would nice to have a set of guidelines on how to write them

[2015-02-17 09:48] avsm commented on #367
@nojb has a proposal to improve this in mirage/mirage#360 that needs review (and rewriting of `config.ml`, so needs some release engineering as well).

[2015-02-17 23:48] samoht opened #368 "Create a mirage-flow package"
Would be nice to have flow transformers available in mirage (with bits of to `Lwt_io` in it) in a separate `mirage-flow` package.

Exemple of code related to this:
- https://github.com/mirage/ocaml-vchan/blob/master/lwt/vchan_lwt_unix.ml#L126 tranforms a `FLOW.flow` into a `Lwt_io.channel`. Could be made available under an `mirage-flow.unix` package.
- Some unreleased code that I'm writing for `oc

[2015-02-18 09:34] avsm commented on #368
Absolutely.

[2015-02-25 17:58] samoht commented on #368
See https://github.com/mirage/mirage-flow

Can create flows from and to strings and cstruct buffers. Plan is to add `Lwt_io.channel` convert function from Dave as well in a sub `lwt` library as well.

[2015-02-26 11:33] samoht commented on #368
Closing as mirage-flow 1.0 is soon to be released: https://github.com/ocaml/opam-repository/pull/3622

Improvements are still very welcome.

[2015-02-26 11:33] #368 closed

[2015-02-26 14:23] avsm commented on #368
dont forget to add to mirage-www TROVE file when released..

[2015-02-26 14:51] samoht commented on #368
https://github.com/mirage/mirage-www/pull/291

[2015-03-01 13:52] hannesm commented on #233
I can still reproduce my original report -- a duplicate ack from mirage (server side), reopening!

[2015-03-07 11:17] haf opened #371 "Move website to a proper hosting provider"
http://openmirage.org/

[2015-03-07 11:39] amirmc commented on #371
Thanks for the report!

@avsm @mor1 is this known? I merged my PRs yesterday eve and CI passed.

Best wishes,
Amir

--
sent via mobile

[2015-03-07 19:20] avsm commented on #371
The site is on a rather unreliable Cambridge Computer Lab host right now. I've edited the title to leave this open until we migrate it to a proper host.

[2015-03-10 14:10] avsm opened #373 "use `opam depext` when configuring"
Right now we just do `opam install`

[2015-03-11 18:47] amirmc opened #374 "mirage --version reports incorrect version"
[code]

[2015-03-15 07:51] gregtatcam opened #375 "ocaml-tls fails to build after upgrading mirage-types from 2.2.0 to 2.3.0"
File "mirage/tls_mirage.ml", line 1:
Error: The implementation mirage/tls_mirage.ml
       does not match the interface mirage/tls_mirage.cmi:
       ...
       At position module Make(F)(E) : <here>
       The value `error_message' is required but not provided
Command exited with code 2.

[2015-03-16 08:24] #375 closed

[2015-03-16 12:43] amirmc opened #376 "Update docs on https://github.com/mirage/mirage.github.io"
These docs are visible by following the API link from openmirage.org (and lead to http://mirage.github.io).

They've not been updated for some time.

[2015-03-16 12:43] avsm commented on #376
Yep, this should be updated via codoc.

[2015-03-16 15:37] samoht commented on #242
This seem quite outdated. Where is the issue tracking the integration of TLS on Xen?

[2015-03-16 15:49] amirmc commented on #242
Look back at the mirage call notes. I've likely linked to it from there. mirage-dev, maybe?

Best wishes,
Amir

--
sent via mobile

[2015-03-16 15:49] talex5 commented on #242
This mirage-dev PR tracks the patches I needed to make it work: https://github.com/mirage/mirage-dev/pull/52

[2015-03-16 19:28] #374 closed

[2015-03-16 21:16] samoht commented on #371
The website is down again

[2015-03-16 21:34] amirmc commented on #371
Is it just the host or are we actually seeing a different issue here?  Also, is @avsm the only one who has access to it?

On 16 Mar 2015, at 21:16, Thomas Gazagnaire <notifications@github.com> wrote:

[2015-03-16 23:55] #373 closed

[2015-03-17 00:17] samoht commented on #345
I guess the `mirage-console-unix` has been superseded by `mirage-console`. @drbo why do you need this package?

[2015-03-17 00:21] samoht commented on #275
This is now fixed.

[2015-03-17 00:21] #275 closed

[2015-03-17 00:22] samoht commented on #264
`make depend` is now again called automatically during the configure phase, so closing.

[2015-03-17 00:22] #264 closed

[2015-03-17 00:23] samoht commented on #23
@avsm I guess this is now fixed by the entropy device. Please re-open if not.

[2015-03-17 00:23] #23 closed

[2015-03-17 00:24] samoht commented on #30
This is now fixed (by @nojb). Please re-open if not.

[2015-03-17 00:24] #30 closed

[2015-03-17 00:24] samoht commented on #82
This should be fixed.

[2015-03-17 00:24] #82 closed

[2015-03-17 00:25] #110 closed

[2015-03-17 00:25] #112 closed

[2015-03-17 00:26] #114 closed

[2015-03-17 00:30] samoht commented on #123
We still have that issue.

[2015-03-17 00:31] samoht commented on #130
Now tracked by: https://github.com/mirage/mirage-platform/issues/124

[2015-03-17 00:31] #130 closed

[2015-03-17 00:32] #137 closed

[2015-03-17 00:32] #138 closed

[2015-03-17 00:32] #142 closed

[2015-03-17 00:33] #157 closed

[2015-03-17 00:35] samoht commented on #184
Closing (although we can add a `s` in the title to make it still an open issue).

[2015-03-17 00:35] #184 closed

[2015-03-17 00:36] samoht commented on #198
https://github.com/mirage/mirage-console/blob/master/.travis.yml

[2015-03-17 00:36] #198 closed

[2015-03-17 00:37] samoht commented on #214
See https://github.com/samoht/mirage-seal (still WIP)

[2015-03-17 00:39] samoht commented on #228
Should be improved by https://github.com/mirage/mirage/pull/360 (once completed)

[2015-03-17 00:40] samoht commented on #236
See https://github.com/mirage/mirage-www/blob/master/TROVE

[2015-03-17 00:40] #236 closed

[2015-03-17 00:43] samoht commented on #229
See https://github.com/MagnusS/mirage-bootvar which tries to solve that problem.

[2015-03-17 00:43] #258 closed

[2015-03-17 00:44] samoht commented on #258
Closing as even if the warning message is a bit scary, it's not an actual error.

[2015-03-17 00:45] samoht commented on #234
Closing as mirage/mirage-net-xen#9 has been merged

[2015-03-17 00:45] #234 closed

[2015-03-17 00:50] samoht commented on #307
This is now fixed.

[2015-03-17 00:50] #307 closed

[2015-03-17 00:52] samoht commented on #306
Moving the issue upstream.

[2015-03-17 00:52] #306 closed

[2015-03-17 00:55] samoht commented on #280
I think this has been fixed with `conduit` (/cc @avsm to double-check). Closing. Please re-open it the issue is still there.

[2015-03-17 00:55] #280 closed

[2015-03-17 00:57] samoht commented on #296
@djs55 ping. Do you have any plan to replace your "hacky prototype"? Seems to work fine so far :p

[2015-03-17 00:59] samoht commented on #301
This should now be fixed. Please re-open if not.

[2015-03-17 01:02] samoht commented on #345
I'm closing the issue as I can't reproduce it. Please re-open if it is still an issue.

[2015-03-17 01:02] #345 closed

[2015-03-17 01:04] samoht commented on #363
Someone with more knowledge than me on the gory network details (@magnuss?) could maybe help?

[2015-03-17 01:10] samoht commented on #269
I think that's not really a feature that the mirage tool should provide. It would be nice to document ways to get it though, as it is quite a useful feature when you develop a website. I've added a `doc` tag to the issue to reflect that.

[2015-03-17 01:13] samoht commented on #245
Where this experiment went? I'm very tempted to close the issue and say it is closely related to #349 (but maybe not, as it involves `fat` and not `crunch`)

[2015-03-17 01:16] samoht commented on #224
https://github.com/mattgray/mirage-xen-virtualbox works very well and should be advertised a bit more prominently.

[2015-03-17 01:17] #202 closed

[2015-03-17 01:19] samoht commented on #200
`V1.CONSOLE` now [includes](http://mirage.github.io/mirage/V1.CONSOLE.html)  `V1.FLOW` so that should be fine.

[2015-03-17 01:19] #200 closed

[2015-03-17 06:53] amirmc commented on #269
I agree and given my use-case, this actually belongs in Tower, the static-site generator lib.

There may well be other use-cases where a 'rebuild-on-change' might be valuable but no-one's come forward with any.  As such, I'm happy for this to be closed here.

Best wishes,
Amir

--
sent via mobile

[2015-03-17 10:19] mor1 commented on #224
agree. also https://github.com/jonludlam/packer-xenserver i believe.

i'll spend some time today/tomorrow building the different options as i (still) need to rebuild my vbox setup anyway. what's the best place to coalesce things? there seem to be several related repos here:

+ <https://github.com/mattgray/mirage-xen-virtualbox>
+ <https://github.com/jonludlam/packer-xenserver>
+ <https://github.co

[2015-03-17 10:22] mor1 commented on #245
hasn't progressed further. not clear to me this is really worth pursuing though as our FAT support isn't complete and presumably we'd be better using irmin in some way anyway...?

[2015-03-17 10:24] mor1 commented on #371
I've no access that I know of. @avsm is the only one afaik.

Is there a reason not to simply host this on punk along with `decks` and `tutorial`?

[2015-03-17 10:32] samoht commented on #224
Could create a wiki page on openmirage.org (seems to be up today, at least within the lab network)

[2015-03-17 10:34] avsm commented on #371
It's restarted on cron now, but I'm more concerned with why it's going down.  Running httperf against mir-www to ensure we dont have a subtle leak would be useful.

[2015-03-17 10:34] avsm commented on #245
FAT support is useful for USB sticks put in a cubieboard

[2015-03-17 10:48] amirmc commented on #371
Indeed. As we've discussed before, the website is the canary for the end-to-end/complete-system stuff. If it's going down unexpectedly, we should look into it.

Is this something @yomimono can help with?

Best wishes,
Amir

--
sent via mobile

[2015-03-17 11:25] mor1 commented on #224
happy to do that once i know what the preferred solution is (ie., which, if any, of those repos is the one to point to for all this setup-vms-possibly-on-vbox stuff)... :)

[2015-03-17 11:40] #269 closed

[2015-03-17 11:57] djs55 commented on #296
Replacing the "hacky prototype" is not on my short-term to-do list :(

Without the proper fix, we can't run blkback or netback in a VM on ARM,
since the current hack leaks all the mappings. This is probably not our
biggest problem right now :)

On Tue, Mar 17, 2015 at 12:57 AM, Thomas Gazagnaire <
notifications@github.com> wrote:

--
Dave Scott

[2015-03-17 16:51] ericbmerritt commented on #192
@avsm I am more than a bit interested in this. I wonder if you guys have made any progress? I have not been able to find much information aside from 'its coming soon'.

[2015-03-17 20:43] gregtatcam commented on #375
Travis script is still failing though with the same error on tls build.

[2015-03-18 16:55] samoht commented on #348
This is now done on `master` and `mirage-www` is already online with no more mentions or `mirage run`.

[2015-03-18 17:00] samoht commented on #371
down again. @avsm can we have a console output, and `xl list` to see what state the VM is in? Would be helpful to help debugging the issue.

[2015-03-18 17:15] samoht opened #381 "Better error handling"
See http://lists.xenproject.org/archives/html/mirageos-devel/2015-01/msg00143.html

Tasks:

- [ ] add `val pp_error: Format.formatter -> error -> unit` in both `V1.FLOW` and `V1.DEVICE`
- [ ] mirage-console
- [ ] mirage-entropy-unix
- [ ] mirage-net-macosx
- [ ] mirage-net-unix
- [ ] vchan

[2015-03-18 17:17] samoht opened #382 "Remove `V1`"
We decided that versioning the API was not worth it (appart from versioning the mirage package itself) so we should rename the `V1` module to something else (`API`?)

[2015-03-18 17:19] hannesm commented on #381
`pp_error` should return a `string` (as described [here](https://github.com/mirage/mirage-www/pull/274/files#diff-abb8c0c60c75065f86ff29942a483ec4R254))!?

[2015-03-18 17:24] dbuenzli commented on #382
Le mercredi, 18 mars 2015 à 18:17, Thomas Gazagnaire a écrit :

S ?

[2015-03-18 17:24] samoht commented on #381
You want to use it with `Format.printf "error is %a" pp_error e` so the should be `unit` (there's a typo on the page)

[2015-03-18 17:25] hannesm commented on #381
yes, discovered, thought, and deleted my comment..

[2015-03-18 18:05] samoht opened #384 "Deprecate libraries"
- [ ] https://github.com/mirage/mirage-http-xen (https://github.com/mirage/mirage-http-xen/issues/3)
- [ ] https://github.com/mirage/io-page (https://github.com/mirage/io-page/issues/19)
- [ ] https://github.com/mirage/mirage-types
- [x] https://github.com/mirage/mirari

[2015-03-18 19:11] hannesm commented on #384
`mirage/mirage-types` and `mirage/mirari` are certainly superseeded (and could well life in another organisation)..

[2015-03-19 00:23] amirmc commented on #384
Yup, we have https://github.com/ocaml-attic for that … though I'd forgotten about it and also recently got mirage-attic too.

[2015-03-19 14:40] samoht commented on #384
I moved mirari to ocaml-attic and then I saw that they are a lot of very lively projects in that organisation so I'm not sure anymore.

@avsm what do you think?

[2015-03-19 19:11] amirmc commented on #384
I don't see what's lively in there.  There appear to be some forks of repos from the Mirage org but even those haven't been updated in almost a year (the upstream repos are still active).

On 19 Mar 2015, at 14:40, Thomas Gazagnaire <notifications@github.com> wrote:

[2015-03-19 19:13] samoht commented on #384
Having fork of active repos in there is weird.

[2015-03-19 19:16] dbuenzli commented on #384
Yes.

[2015-03-19 19:17] avsm commented on #384
They can be deleted if you want.  They're there because we did the 3-way repo transfer to get the fork roots correct, but are no longer needed.

[2015-03-19 19:17] amirmc commented on #384
I agree and I wonder if it's an artefact of how we/GitHub used to transfer repos (make a fork and then kinda switch the pointers around).  I don't see much harm in leaving them there nor in getting rid of them (all the history should be on the other repo anyway).  Nobody has any reason to be looking at ocaml-attic.

On 19 Mar 2015, at 19:13, Thomas Gazagnaire <notifications@github.com> wrote:

[2015-03-20 16:26] samoht opened #389 "Test infrastructure"
This issue tracks the current initiatives to improve the testing infrastructure of MirageOS. Hopefully this should lead to code more easily testable, with a better overall quality.
- https://github.com/MagnusS/mirage-vnetif

- https://github.com/yomimono/mirage-net-pcap

- https://github.com/mirage/mirage-flow

[2015-03-20 18:02] yomimono commented on #371
I've discovered a resource leak in the channel code provided by mirage-tcpip (used by mirage-http for interfacing with cohttp).  Without the fixes in https://github.com/yomimono/mirage-tcpip/tree/test_channel , a unikernel serving mir-www with 64MB of memory will crash reliably after a couple thousand sequential reads; when built with the fixes there, it'll stay up for at least ~1.5M requests.  A

[2015-03-20 18:09] avsm commented on #371
awesome!  The fixes look very good to me.  In the medium term, I'd like to rewrite Channel using `Rresult` so that we have nice combinators instead of exceptions for the low-level errors.

[2015-03-24 10:53] samoht opened #392 "Add package version constraints"
Now that we only support opam `1.2`, we can use the syntax `<package><relop><version>` (where relop is `=`, `<=`, `>=`, ...) on the command-line to express package version constraints. We should start using it in the tool, to ensure that the right version are present at configuration time. Not sure we can have `&&` constraints, need to check with @AltGr.

Note: I think we want to keep the up-const

[2015-03-24 10:56] samoht commented on #389
@avsm @MagnusS and @yomimono can you comment what are your current plans on this? (just to check that we actually have a plan :p)

[2015-03-24 11:00] avsm commented on #389
I want to deploy the OPAM bulk build infrastructure for just the Mirage packages, running in a loop.  It will have output similar to : http://www.recoil.org/~avsm/opam-bulk/

It would be extremely convenient if the Mirage test infrastructure could be structured as a set of OPAM packages that run test cases when installed.  This way we just package them up in an OPAM remote and run them using this

[2015-03-24 11:45] MagnusS commented on #389
My plan for the vnetif implementation is to make it easier to do automated small scale network tests with unikernels without having to coordinate deployment and network setup. We can also use it to automate tests of the tcp/ip stack, for example with iperf as implemented [here](https://github.com/MagnusS/mirage-vnetif/tree/master/examples/iperf_self).

The implementation supports different backend

[2015-04-07 20:50] nyetsche commented on #301
I'm seeing this again on mirage-http 2.1.0:

[code]

I also tried the `reinstall -v conduit` and both remotes:

[code]

I'm new at OCaml/Mirage, I was only following along http://www.skjegstad.com/blog/2015/01/19/mirageos-xen-virtualbox/ so apologies if I'm missing something obvious.

Digging in the `.out` output I come to:

[code]

[2015-04-08 10:51] talex5 commented on #301
Looks like the recent cohttp v0.16.0 release changed the API:

https://github.com/mirage/ocaml-cohttp/commit/2f0a313e9a52876cb2b7a34c1baa7567510f5c0a

@samoht do you have a patch for `mirage-http` to go with this?

[2015-04-08 11:39] samoht commented on #301
@talex5 https://github.com/mirage/mirage-http/pull/10 I think. I need to re-run the Travis tests and cut a new release.

[2015-04-08 11:41] samoht commented on #301
(in the meantime adding a version constraint on `mirage-http` would be good, I'm doing this)

[2015-04-08 12:33] talex5 commented on #301
Thanks. BTW, the original (different) problem that started this issue was, I think, a missing dependency on tls. PR here: https://github.com/mirage/ocaml-conduit/pull/55

[2015-04-08 13:29] samoht commented on #301
@nyetsche the fix to mirage-http constraints should be in there now.

[2015-04-08 13:47] mor1 commented on #301
This now works for me in a Travis build for `unix/socket` and `xen/direct` but not `unix/direct`. Error report is:

[code]

`S` is declared in the usual way as a module parameter to the `Main` functor with type `S: Cohttp_lwt.Server` and invoked as `S.make ~callback ~conn_closed ()`.

Thoughts?  Do I have the type of `S` wrong, or is there a missing library or something?

[2015-04-08 13:54] samoht commented on #301
@mor1 I suppose the lower bound is too low ... can you submit a fix to opam-repository which works for you?

[2015-04-08 15:46] nyetsche commented on #301
Compiled just fine for me this morning. Thanks for the quick turnaround - I'm brand new to Mirage/Ocaml/OPAM, but I really admire how it's organized!

[2015-04-29 17:01] robertream opened #395 "Cryptic tun/tap network error message"
When I managed to get one of the network samples building, for example "ping", I couldn't get the unikernel running locally with a tun/tap device I created. Even though I use tapctl to create a tap0 device owned by my user account, just like the tutorial advises, when I go to execute the unikernel I still get this error:

Fatal error: exception Failure("net_tap0")
Raised at file "src/core/lwt.ml",

[2015-05-01 17:34] avsm opened #396 "Very large crunches can possibly overflow the Xen static segments"
The openmirage.org site is occasionally rebooting (and coming up again quite fast).  Upon inspection, the domain crash looks like this:

[code]

The instruction pointer is at:

[code]

which is a function call in `static2.ml`, which is actually the crunched file system. So I suspect that the mirage site content has just become a little too large for the static memory map that we gave it, hence the

[2015-05-01 18:23] haf commented on #371
Your site is down again.

[2015-05-01 19:52] avsm commented on #371
It's back -- finally tracked down the issue in #396!

[2015-05-01 21:02] MagnusS commented on #389
mirage-vnetif is now released in opam and I've added iperf and connect tests that can run in travis to the tcp/ip stack [here](https://github.com/mirage/mirage-tcpip/tree/master/lib_test). It should be possible to write network tests for other libraries in a similar way.

[2015-05-02 10:43] avsm commented on #396
Confirmed to be because of too large a crunch, e.g. in the changelog.md file

[2015-05-05 08:00] avsm opened #398 "add a LICENSE file to the main repo"
The copyright is present in the _oasis file and each individual header, but there should be a `LICENSE` file as well.  Noticed by @agarwal

[2015-05-05 18:27] samoht opened #399 "Improve the Channel API"
- [x] create a separate project to host `mirage-tcpip/channel`
- [ ] remove API inconsistencies (see https://github.com/mirage/mirage-dev/pull/69#issuecomment-99161560)

[2015-05-06 20:13] avsm opened #401 "add a --no-depext option"
It would be useful to either add a no-depext option, or to let the generated Makefile skip it if an env variable is set.

[2015-05-06 20:15] samoht commented on #401
Related to https://github.com/ocaml/opam-depext/issues/15

[2015-05-20 08:41] talex5 opened #404 "nocrypto.lwt module not found. Hint: reinstall nocrypto"
My Travis build keeps giving this error on `mirage configure`. `nocrypto.lwt` is already installed according to `ocamlfind list`.

Output log:

https://travis-ci.org/talex5/cuekeeper/builds/63296241

Extract:

    +ocamlfind list
    [...]
    nocrypto            (version: 0.4.0)
    nocrypto.lwt        (version: 0.4.0)
    [...]
    (cd server && mirage configure --no-depext && make)
    Mirage

[2015-05-20 08:49] samoht commented on #404
Hum this is not supposed to happen... @pqwy any idea?

[2015-05-20 09:11] talex5 commented on #404
Testing in a container locally, I see that `nocrypto` got downgraded to 0.3.1 at some point. But `mirage` reported `Package nocrypto is already installed (current version is 0.4.0).` just before the error. Could it have silently downgraded nocrypto between that message and the error??

It's especially odd given that my `config.ml` contains an explicit:
`~packages:[...; "nocrypto>=0.4"]`

[2015-05-20 09:13] samoht commented on #404
which opam version do you have?

[2015-05-20 09:13] samoht commented on #404
but that's maybe a matter of marking `mirage 2.5.0` in conflict with older version of nocrypto.

[2015-05-20 09:17] talex5 commented on #404
Travis is using opam 1.2.2 (via 0install).

[2015-05-20 09:35] talex5 commented on #404
Hmm... I see there's a new file in my source directory called `=0.4` which contains:

    =-=- Synchronising pinned packages =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    [irmin: git] Command started
    [irmin: git] Command started
    [irmin: git] Command started
    [irmin: git] Command started
    [irmin] https://github.com/talex5/irmin.git#hack-slice already up-to-date
    The following a

[2015-05-20 09:49] talex5 commented on #404
Ah, looks like conduit 0.8.2 conflicts with the new tls and 0.8.3 isn't in opam yet.

[2015-05-20 13:14] #301 closed

[2015-05-20 13:15] samoht opened #405 "Avoid calling camlp4 as much as possible."
This make ARM builds very slow and should be avoided as much as possible. Currently we only avoid compiling static files with it, but the current mechanism is unreliable and too limited. We should extend that.

[2015-05-20 16:20] yomimono opened #406 "unikernels generated with mirage-seal run out of memory after a relatively small number of requests"
Using `mirage-seal` version 0.1.0, a generated unikernel runs out of memory and crashes after ~600 requests in series.  The same content, also served through cohttp (via mirage-http) but without tls, holds up fine through 2,000 requests (and possibly beyond; I tested only for 2,000).

All testing was done in a fresh opam switch made specifically for testing mirage-seal; there are no pins, although

[2015-05-20 17:03] yomimono commented on #406
If the `dispatch.ml` generated in `/tmp/mirage-seal` is edited to serve a static string that looks convincingly like an HTTP response and the unikernel rebuilt, we can serve at least 2,000 requests in series over TLS without running out of memory.

[2015-05-20 17:43] samoht commented on #406
TLS is exercising the Channel code quite a bilt (as it usually splits the HTTP query/response into chunks) so we might be hitting bugs in cohttp or tpcip ... does the bug is reproducible with sockets?

[2015-05-20 18:02] yomimono commented on #406
It looks like a binary generated for the same content with `mirage-seal --sockets` is fairly constant on memory usage, at least over the first few thousand requests.

On 20 May 2015 18:43:52 BST, Thomas Gazagnaire <notifications@github.com> wrote:

--
Composed on a touchscreen keyboard; please forgive typos and brevity.

[2015-05-21 22:15] samoht commented on #406
I'm able to reproduce the issue:
[code]

Seems that the number of channels in the pcb is ever growing, I'm investigating why...

[2015-05-21 22:49] hannesm commented on #406
does this also happen with tun/tap interface on unix? or only as a true unikernel on xen?

[2015-05-21 23:19] samoht commented on #406
Anything fancy with the closing of TCP connections when using TLS?

[code]

[2015-05-22 00:02] samoht commented on #406
ok so the pcb entries are not cleaned up properly from the `channels` hash-table when the server initiate the closing. I'm not sure to understand why ...

[2015-05-22 00:13] samoht commented on #406
I won't be able to do more until next Tue. would be nice if someone could try to debug that a bit more tomorrow!

[2015-05-23 14:52] hannesm commented on #406
do you have the branches somewhere on github which provide the output in a previous comment?
tls_mirage closes by first sending out a teardown message and then calling close on the underlying flow... maybe the write already fails and close is never called? (but then, your trace indicates that TX.close gets called) https://github.com/mirleft/ocaml-tls/blob/master/mirage/tls_mirage.ml#L145

[2015-05-26 14:27] samoht commented on #406
The branch is there: https://github.com/mirage/mirage-tcpip/pull/142

Doing a `curl -l -k https://<ip>` gives the following trace:

[code]

It seems that the timer for removing the entry is never set-up properly in the state machine. @balrajsingh or @hannesm do you have any idea?

I'm trying to compare the code in https://github.com/mirage/mirage-tcpip/blob/master/tcp/state.ml#L114 with http://www

[2015-05-26 14:34] hannesm commented on #406
Thanks! I can reproduce on Unix using tun/tap (limiting process memory to 32MB it faults after 32 requests)

[2015-05-26 14:55] hannesm commented on #406
well, actually using your debug branch, I can see
[code]
output after the timeouts..

[2015-05-26 17:04] hannesm commented on #406
some of the connections result in keeping in `closing` state... a pcap of such a session is available at http://www.cl.cam.ac.uk/~hm519/seal-stuff.pcap

[2015-05-26 17:23] samoht commented on #406
@hannesm my VM is till running and I have no new output on the console (so the connection is still half open). Making a new connection show that the the `channel` hash-table has still one entry.

[2015-05-26 17:30] hannesm commented on #406
yes, same for me. the pcap I posted is the capture on tap0 regarding that stale connection (using https://github.com/hannesm/mirage-tcpip/commit/0f6ceb69a3058f8778a07019ee9b1386eaf8f4c8 to display the concrete connections which are in the channels table, then some pcap filtering)

[2015-05-26 18:29] hannesm commented on #406
so, what happens here? in the pcap I linked to above our side sends a FIN+ACK (I still cannot figure why ACK is set). This frame (number 15) is not acknowledged by the other side (also not retransmitted, why?).
Instead, the other side sends a FIN+ACK folowed by RST. These are acknowledged, but the RST seems to be not handled...

[2015-05-26 18:43] samoht commented on #406
It is still not totally clear to me why this happens only with HTTP over TLS. Maybe the TLS clients are doing weird (or at least untested for our stack) things? Also, I'm not sure at all that's the main leak ...

[2015-05-26 18:51] hannesm commented on #406
not sure about 2, but 1 is most likely true: in mirage-www the server never calls `Flow.close` itself. in `mirage-seal`, `TLS.close` (which calls `TCP.close`) is called on successful HTTP transmission, thus we traverse the TCP/IP state machine differently (visiting the initiator close sequence (fin-wait1, fin-wait2, closing, time-wait)), and interplay with partial close or data loss rst frames see

[2015-05-26 19:00] hannesm commented on #406
@samoht can you reproduce the leak with https://github.com/hannesm/mirage-seal/tree/no-close ?

[2015-05-26 23:05] samoht commented on #406
Seem to be similar ...

[code]

[2015-05-27 10:02] hannesm commented on #406
I gathered some statistics about the following scenarios (branch names in braces, available at https://github.com/hannesm/mirage-seal):
- cohttp and tls (master)
- no cohttp, but server static string (no-cohttp)
- no tls, but use cohttp (no-tls)
- no tls, no cohttp (nothing)

I force full major collections in these branches. Using native sockets, I get after 200 (linear) requests the following mem

[2015-05-27 10:34] hannesm commented on #406
certainly gathering memory usage from `top` (as done above) is not optimal.. should use OCaml's GC stats

[2015-05-27 12:47] hannesm commented on #406
I updated the last comment to use `Gc.stat ()` and `live_words` from there, and reran the measurements..

[2015-05-28 18:12] samoht commented on #406
I've tried to generate nice graphs with memprof:

http://memprof.typerex.org/users/36a218e5fd31b8799a68ecea2eb14d82/2015-05-28_19-39-46_39423d31ec3d875d11466dc43535d7ef_12991/index.html

we spent some time with @hannesm and @sevenEng to try to understand what happen without too much success (only that the `pbc` are not correctly cleaned-up). If someone is able to make sense of these, he's welcome

[2015-05-28 23:12] hannesm commented on #406
the (minor) leak seems to be in `read` from Lwt: we use `Lwt_cstruct.read` in `mirage-net-unix` which calls `Lwt_bytes.read`, and somehow from memprof it seems that this does not clear `mutable event_readable : Lwt_engine.event option;` and `hooks_readable : (unit -> unit) Lwt_sequence.t;` from Lwt `file_descr`... any ideas what we're (or lwt?) is doing wrong there?

[2015-05-28 23:31] samoht commented on #406
An other quick stuff: `Netif.listen` doesn't look very tail-rec ...

[2015-05-29 09:24] hannesm commented on #406
@samoht nice catch, https://github.com/mirage/mirage-net-unix/pull/16 results in constant memory usage for my nothing branch at least!

[2015-05-29 14:22] yomimono commented on #406
I'm very late to the party (hi friends!), but mustn't it be the case that we have at least one more leak, since we observed one in unikernels linked against `mirage-net-xen`?

[2015-05-29 15:26] samoht commented on #406
@hannesm sweet!!

@yomimono indeed. I suspect there might be the same kind of error in the xen backend, but haven't had time to track it down yet.

[2015-05-29 17:05] hannesm commented on #406
yes, there is some other leak somewhere... I thought the mirage-net-unix fix might lead to rerunning memprof and finding other results (the mirage-seal master still memleaks on unix (unlike the mirage-seal without tls and http)!)

finally got myself a domU with linux, thus I can run memprof myself now (at least in theory) :)

[2015-05-30 16:13] hannesm commented on #406
ok, some more graphs... unclear how useful they are:
http://memprof.typerex.org/users/9a4bc33e26b77891b75f11aaad96f7f4/2015-05-30_17-37-05_fbc47d66b990cdd2136797ca7099006e_551/index.html includes mirage-net-unix PR 16, and still refers to memory in netif...
http://memprof.typerex.org/users/9a4bc33e26b77891b75f11aaad96f7f4/2015-05-30_17-57-13_9aee504ffccb564e7df118a6a1db0c03_5911/index.html has [mi

[2015-05-30 17:44] yomimono commented on #406
I'm working (slowly) on the Xen side, although not getting much done at the moment.

[2015-05-31 14:12] hannesm commented on #406
the remaining bytes from my most recent graph, linked above, can be reclaimed by `reset()` all the hashtables in tcp/ip's pcb (or, rephrased: back to square 0, some entries in `channels` are never cleared)

[2015-05-31 18:12] hannesm commented on #406
running the family of tests on xen, `nothing` is constant, `no-tls` and `no-cohttp` as well. and `master` crashes with out of memory while retaining several connections in `channels` hashtable...
I'd conclude that a) pcb is too big and b) there's some missing transition or c) resource limits for number of tcp connections

[2015-06-01 06:58] yomimono commented on #406
I've found and poorly-patched one combination of misparsed packet and missing transition that results in pcbs never being cleared when simultaneous closes occur; I'll continue investigating as I suspect this is likely not the only problem.

[2015-06-01 09:20] samoht commented on #406
The other suspicious bit of code is the `listen` functions of `tcpip_stack_direct` which let the user close the flows given to the callbacks. This could lead to some leak (especially on errors) if the user didn't pay attention too much.

[2015-06-01 09:32] hannesm commented on #406
@samoht which reminds me that I struggle to understand what the intended semantics / error handling of the stack is. Should `listen`

[2015-06-01 09:38] hannesm commented on #406
@samoht which reminds me that I struggle to understand the error semantics:
Should `listen` bail if the handler raised an exception? Since a handler is `-> unit io`, there is certainly no intention to report errors back.
The current state of `mirage-net-unix` (and `mirage-net-xen`) do a `ignore_result` wrapped in a `try_lwt` of the handler function. `mirage-net-unix` catches `ENXIO` specifically,

[2015-06-01 09:42] samoht commented on #406
Logging and continuing after an error is ok I think. By default, it is better to not "trust" the callbacks, and an exception which propagate to the listen loop should not kill the whole application.

[2015-06-01 09:47] talex5 commented on #406
Perhaps it should call `async_exception_hook` (either directly or via `Lwt.async`). Then it's up to the application whether to continue or terminate. I'd slightly prefer log-and-continue as the default, but it will depend on the service.

In any case, the current behaviour (silently ignore the error) is clearly wrong.

[2015-06-01 10:21] hannesm commented on #406
I think this is related to https://github.com/talex5/mirage-www/blob/errors/tmpl/wiki/error-handling.md

I'd really prefer to trust the callbacks. If this is not the case, they should be able to signal error conditions (by having some more elaborate return type than `unit`)!? And who is responsible to clean up potential state of the possible flow when an exception occured (imho only really possibl

[2015-06-01 10:49] samoht commented on #406
Well, you never know which exception would be thrown by the callback so we should try to recover as much as possible. Ideally they will not raise anything, and all the ressources will be cleaned up automatically. In the worse case, we can catch the exceptions, print a message. And in any case, we should call `Flow.close` when the callback is done (as we have created the flow before giving it to th

[2015-06-01 12:10] samoht opened #409 "2.5.0 release: TLS support"
This is a summary of things to do before the release:
- [x] conduit, mirage-conduit, mirage-http and mirage releases in [mirage-dev](https://github.com/mirage/mirage-dev) (@samoht)
- [x] fix the memory leak in `mirage-net-unix` (@hannesm) (https://github.com/mirage/mirage-net-unix/pull/16)
- [x] fix mirage-www (@samoht) https://github.com/mirage/mirage-www/pull/317
- [x] fix the missing TCP state

[2015-06-01 12:18] samoht commented on #409
(And everyone should be happy with the status of #406)

[2015-06-01 21:20] samoht commented on #406
I confirm that there is still a leak in the `xen` backend. With my shiny `debug` branch and:

[code]

in `static_website/dispatch.ml`  I can still see the memory growing slowly on every request (note: this is without TLS). And the PCB tables are emptied correctly.

[2015-06-01 22:59] hannesm commented on #406
that sounds great, @samoht \o/

[2015-06-02 13:03] samoht opened #411 "`Mirage.load` doesn't work in bytecode"
`Mirage.load` uses `Dynlink.adapt_filename` which is the identity in bytecode, so `ocamlbuild config.<xxx>` will not work as expected on bytecode.

Native code works fine though.

[2015-06-02 13:39] samoht opened #412 "Allow the `main.native` Makefile target to be extended."
This will allow specifying more useful things in `Makefile.user`. This just needs:

[code]

[2015-06-02 14:07] yomimono commented on #406
@samoht - the debug branch is *really* neat.

I think I'm seeing different behaviour than you are, or perhaps interpreting the behaviour I'm seeing incorrectly... if I run 1024 `curl`s in sequence against a unikernel generated with `mirage-seal` and a pinned `debug` branch of `tcpip`, here's the last (relevant) bit of log I see on the console:

[code]

which would seem to imply to me that there ar

[2015-06-02 14:26] balrajsingh commented on #406
Thanks for debugging and testing, my apologies for the bugs and also delay
in getting involved on this thread.  Thanks Mindy for help and discussion
yesterday.

I'm looking at the RST processing right now and I know it's is not fully
implemented (but can be fixed soon). But if there is no RST involved the
expectation should be that all connections will be cleared up. There are
timers that will kic

[2015-06-02 14:35] samoht commented on #406
@yomimono I think this is because of the RST bug that the channels are not cleaned up properly. I was testing with `static_website` only, where the behaviour seems fine. Also in `[10|0|1024|0|845k]` the first 10 means that you still have 10 timer loops going on.

[2015-06-02 14:40] samoht commented on #406
Thanks @balrajsingh for the detailed explanation, I'm looking forward for the fix :-) Would be nice if we had an automatic way to test we won't regress (we are not very far for having this, don't we @MagnusS or @yomimono?)

@amirmc I am fine with releasing a slightly leaky TLS+mirage integration (as it is a direct issue with TLS) if we say that 1) that's a beta and 2) that we advertise that we hav

[2015-06-02 14:47] hannesm commented on #406
since release is supposed to be next monday, I'd hope to get the fix into tcpip before that.

[2015-06-02 14:50] amirmc commented on #406
From the perspective of a *software* release that sounds entirely reasonable to me.  From the perspective of an associated *news/press release* it seems a little weak -- we already have to take care about messaging as it's a new TLS implementation but to further caveat it would diminish the announcement somewhat.

If we can fix the issue 'soon', then I'm perfectly fine with decoupling a release fr

[2015-06-03 14:04] amirmc commented on #409
Dear all,

After a brief discussion with folks yesterday, I think we need to decouple aspects of the next set of MirageOS releases.  This is because we still have a small leak in the stack and although releasing is perfectly fine, it's not really something that should be immediately accompanied by a news release.

#### What happens now?

My thoughts are that we will do the following:

- We'll cont

[2015-06-03 14:07] amirmc commented on #406
Hi folks, pls see my comment in https://github.com/mirage/mirage/issues/409#issuecomment-108438612 regarding the releases.

[2015-06-03 14:30] amirmc commented on #409
I adjusted the order of the tasks in the list above and added an item for the issue in 406.

[2015-06-03 14:33] hannesm commented on #389
based on mirage-net-pcap and mindy's example unikernels I started (and will hopefully finish soon) a [trace checker](https://github.com/hannesm/trace-checker) which purpose is to read a pcap file, get the (client _and_ server) tcp flow which should be a TLS connection and check its validity... in order to do so I needed to expose slightly more of the tcpip stack (and it's all not yet finished; ide

[2015-06-03 17:11] samoht commented on #389
yay!

[2015-06-03 20:43] balrajsingh commented on #406
So curl, and other browsers as well, close the connection with a FIN
followed by a RST response on all further packets - since we don't process
RST on an Established connection we get these wedged TCPs which manifest as
a mem leak.  Although one (I) can whine that closing a connection with RST
is not good TCP behaviour, since it is allowed, we have to deal with it.
Actually many browsers do this w

[2015-06-04 15:57] amirmc opened #413 "Error installing conf-gmp while trying to build mirage-www"
I got this at the `mirage configure --unix` step.

[code]

[code]

[code]

[2015-06-04 16:08] samoht commented on #413
This is weird. Can you try to run with `opam install conf-gmp --verbose`?

[2015-06-04 16:10] amirmc commented on #413
Doesn't appear to give me any further info. Is there a way to check that my `gmp` install isn't broken?

[code]

[2015-06-04 16:11] samoht commented on #413
Maybe `brew reinstall gmp`?

[2015-06-04 16:13] amirmc commented on #413
Same error. I'm trying `brew reinstall --build-from-source gmp`

[2015-06-04 16:25] amirmc commented on #413
Still not working.  Same error.  After some searching, I found my way to the following:

https://github.com/ocaml/opam-repository/issues/3000
https://github.com/mirage/irmin/issues/115#issuecomment-70880074

I'll try what I can see from there.

[2015-06-04 16:29] amirmc commented on #413
Ok, so that worked (with a warning).  Need to do something to make this work better with opam.

[code]

[2015-06-04 16:32] amirmc commented on #413
aaaand just had exactly the same issue with zarith. :)

[code]

which is fixed by (result is elided).

[code]

[2015-06-04 18:14] amirmc commented on #413
Closing this as an issue for the actual problem already exists.

[2015-06-04 18:15] #413 closed

[2015-06-06 11:15] #179 closed

[2015-06-06 11:24] talex5 opened #414 "mirage tool initialises network stack multiple times"
If you ask for e.g. a conduit and a resolver on top of a single stackv4 in your `config.ml` then mirage generates a `main.ml` that runs two stacks on the same interface (which causes problems, since they're both fighting over the incoming packets). Example:

https://github.com/lcoviedo/mirage-http-fetch/blob/bff1eccbfd05279976ebd4cf265e24f2dccab951/config.ml

http://lists.xenproject.org/archives/h

[2015-06-07 02:44] avsm commented on #409
I added another note: we need to explain in the CHANGES how config.ml files should be adapted. My old ones no longer work with mirage-dev.

[2015-06-08 13:25] samoht commented on #414
The new version of conduit should avoid this specific error, but the problem still remains in the general case: we don't have (yet) a good way to express sharing between components in the mirage DSL.

[2015-06-10 16:46] samoht commented on #406
The issues mentioned here have been fixed:
- `Netif.listen` which was not tail-recursive on `mirage-net-unix`
- The `RST` packets not properly handled

So I'm closing this. Thanks all for the time spent on investigating and fixing the issue!

[2015-06-10 16:46] #406 closed

[2015-06-10 17:21] samoht commented on #409
I've just release mirage-tcpip 2.5.0 in opam-repository

I've written some words for the CHANGES: https://github.com/samoht/mirage/commit/cc1ebfe0b1a399caf1b4eef4f2ca580930d67713

I've also fixed the removal of `zarith-xen` in https://github.com/ocaml/opam-repository/pull/4207

I'm almost ready to bulk release the contents of `mirage-dev` into `opam-repository`.

[2015-06-11 09:09] samoht commented on #409
More boxes ticked. Almost there.

[2015-06-11 09:55] amirmc commented on #409
:+1:

[2015-06-12 10:36] samoht commented on #409
Last tickbox is checked. The remaining things to merge are https://github.com/mirage/mirage-skeleton/pull/95 and https://github.com/mirage/mirage-www/pull/334 which are waiting Travis CI to be able to download archive on the internet without blocking for 50 minutes.

[2015-06-12 11:00] samoht commented on #409
ok, all the software are properly released. Now it's time to write blog posts to announce the release :-)

[2015-06-12 12:51] samoht commented on #409
might also need a patch on mirage-deck, I'll check that

[2015-06-17 16:43] njbartlett opened #418 "mirage-xen install error on CentOS 6.6"
Hi, I am trying to install Mirage with the Xen back end on a CentOS 6.6 virtual machine (running under Vagrant on Mac OS).

`opam install mirage-xen` fails due to a compilation error in `mirage-xen-minios`, as follows:

	#=== ERROR while installing mirage-xen-minios.0.7.0 ===========================#
	# opam-version         1.2.1~rc2
	# os                   linux
	# command              make build

[2015-06-18 12:59] talex5 commented on #418
If you can't upgrade your compiler, you could apply this patch from master to the `minios-v0.6.tar.gz` archive:

https://github.com/talex5/mini-os/commit/b49a536d02e225c410307d3bccef5f6e3c6f16a9

[2015-06-18 13:48] njbartlett commented on #418
I have no problems upgrading my compiler (assume you mean GCC?) as this is only a VM.

However I see nothing in the installation instructions for Mirage regarding a required compiler version. Can you advise? Thanks.

On Thursday, 18 June 2015 at 13:59, Thomas Leonard wrote:

[2015-06-18 13:56] talex5 commented on #418
The flag is needed to disable an optimisation added to later gcc versions, but isn't needed on earlier versions. However, you may have trouble with other components (e.g. crypto stuff) when using older compilers. CentOS 7 would probably work, but I haven't tried it.

(closing, as duplicate of https://github.com/mirage/mirage-xen-minios/issues/12)

[2015-06-18 13:56] #418 closed

[2015-06-24 12:48] samoht opened #420 "The script to create the fat image doesn't work with symbolic links"
The script should use `du -h -L` instead of `du -h`

[2015-06-24 12:50] samoht opened #421 "Fix support for disk images"
The current support for disk images is not ideal. Crunch works great, but other backends (for instance `fat`) need some extra manual steps. Here a list of bugs:
- [ ] symbolic links are not added to the size of the file #420
- [x] wrong device name #349
- [ ] sub-directories in fat images are not added to the size of the file #422
- [ ] add an option to not generate a fat file #423

[2015-06-24 12:53] samoht opened #422 "Wrong computation of the fat image when using sub-directories"
We should use `du -h -s .` to get only the summary.

[2015-06-24 13:08] samoht opened #423 "Add an option to not generate the fat file"
Sometimes you already know what device you want to mount and you don't need to generate a `make-fat*-image.sh`.

[2015-06-24 13:31] samoht opened #424 "Expose `Mirage.impl`"
The current `Mirage.implementation` is not practical as it requires to pass a value of type `b` instead of `b type`. We usually don't have a value of type `b` when we try to extend existing module types.

[2015-07-02 09:27] amirmc commented on #409
Main post that notes the 2.5 changes is out so we can close this.

[2015-07-02 09:27] #409 closed

[2015-07-03 13:46] #404 closed

[2015-07-03 13:46] samoht commented on #404
Should be fixed now

[2015-07-03 13:46] #401 closed

[2015-07-03 13:46] samoht commented on #401
Fixed in 2.5.0

[2015-07-03 13:47] samoht commented on #399
I've ticked the first box: https://github.com/mirage/mirage-channel I'm preparing a release.

[2015-07-03 13:58] hannesm commented on #399
hmm, wouldn't you want to preserve its history? (by using `git filter-branch --subdirectory-filter channel` for import?)

[2015-07-03 15:44] samoht commented on #399
yea, I was lazy. This is now fixed: https://github.com/mirage/mirage-channel/commits/master

[2015-07-07 16:22] mor1 opened #426 "STACKV4.UDPV4 interface: callback handling"
Specifically, it would be nice to receive the `dst_port` in the `S.listen_udpv4` callback function; and it would be nice to be able to remove `callback` functions (the latter may be possible but is not obviously documented if so).

[2015-07-07 16:25] hannesm commented on #242
this is done now... closing

[2015-07-07 16:25] #242 closed

[2015-07-07 16:25] hannesm commented on #233
i believe discussion will & should be continued in https://github.com/mirage/mirage-tcpip/issues/162, closing

[2015-07-07 16:25] #233 closed

[2015-07-07 16:26] amirmc commented on #242
:100:

[2015-07-13 13:26] amirmc opened #427 "[WARNING] Interface channel.cmi occurs in several directories"
I've just upgraded ocaml via a homebrew update/upgrade and opam then upgraded my system switch (I'm working on an alias of the system switch).

When I build the mirage-www site I see a number of (repetitive) `findlib` warnings of the following form.

[code]

[2015-07-13 13:31] amirmc commented on #427
Seems I didn't properly do an `opam update` and `opam upgrade` before reporting this.  That seems to have resolved this for me.

[2015-07-13 13:31] #427 closed

[2015-07-16 14:58] Drup opened #429 "Incompatibility feedback at configure-time"
The socket-based stack is not compatible with xen, but the configuration tool completely fails to communicate that, and you get an error at link time telling you that unix is not found.

Shouldn't the `CONFIGURABLE` signature possess a "compatibility" field to ensure everything is fine from this point of view ?

[2015-07-16 16:22] yomimono commented on #426
What do you think of moving the `listen_udpv4` and `listen_tcpv4` functions (and associated data structures) out of Stackv4 and into UDP and TCP respectively, and making interaction with listeners abstracted through those modules (including deletion)?

(Why? It's currently a bit annoying that there's no facility for registering listeners before calling them when dealing with UDP and TCP outside of

[2015-07-16 17:33] mor1 commented on #426
Sure-- sounds an entirely reasonable plan to me.

[2015-07-17 00:23] samoht opened #430 "The type of V1_LWT.FS.page_aligned_buffer should not be let abstract"
We are missing a `and type page_aligned_buffer = Cstruct.` at https://github.com/mirage/mirage/blob/master/types/V1_LWT.mli#L112

spotted by @stevvooe

[2015-07-18 15:52] samoht commented on #429
The configuration choices form a tree of conflicting possibilities. Not sure how to express that easily to the user. But I agree that the current situation is not ideal and we should somehow check that the configuration plan is consistent.

[2015-07-18 15:53] samoht commented on #430
Fixed in mirage-types.2.5.1

[2015-07-18 15:53] #430 closed

[2015-07-20 08:50] hannesm commented on #426
I wonder whether there should be a more generic interface:
[code]

which can then be included by the various layers (ethernet, IP, TCP. UDP, ...).  I have an implementation thereof lying around somewhere (and some modifications to the TCP/IP stack to use this API).  An advantage for a more general API is that the code can be shared between ethernet, IP, ... (it might use a hashtable for `magic ->

[2015-07-21 20:35] yomimono commented on #426
I'd be curious to see the implementation and the expression in `tcpip`.

I don't see what happens if `insertion_policy` is `Error` and the user attempts to call `register` on a vector that's already been registered -- it looks like `register` always returns `handlers`; is it intended that an exception be thrown here, or the attempt to register just silently be discarded?

[2015-07-21 23:25] hannesm commented on #426
in that state (which is from several months ago), `` `Error` throws an exception. this is certainly not good (or finished yet, rather some initial ideas).. I'll dig out the tcpip branch tomorrow where I used the proposed protocol handler

[2015-07-22 15:57] hannesm commented on #426
I've created https://github.com/hannesm/mirage/tree/protocol_handler and https://github.com/hannesm/mirage-tcpip/tree/handler -- which at least compiles together (I disabled ipv6 support for now).. the interface proposed earlier here has changed a bit -- there is one PROTOCOL_HANDLER in mirage-types, to be used by clients, and then a functorized module (over an address) Protocol_handler which is u

[2015-07-22 17:05] talex5 commented on #426
Hmm, interesting. A few thoughts...

The current API certainly has some problems:

- `ETHIF` is really just a splitter for forwarding ethernet frames to ARP/IPv4/IPv6 as appropriate. It should probably be a function rather than a module type. All the other functions in `ethif.ml` just forward to `NETWORK` (except `disconnect`, which mysteriously does nothing).

- `listen` in `NETWORK` means "Start

[2015-07-22 17:10] talex5 commented on #426
(but I guess we have to allow registering ports in the API for the "socket" implementation, so forget about that)

[2015-07-22 19:49] hannesm commented on #426
The problem with the current API is in my opinion that the IPv4 layer knows about ARP and Ethernet, which it shouldn't (think about PtP connections, IP over IP, ...).

I agree that a better API should be a purely functional one. In order to reach this point, the state of a layer should be completely given as input argument fror all the functions (and as result if the function is allowed to extend

[2015-07-22 22:08] samoht commented on #426
I'm really keen to put as many changes as possible in the TCPI/IP signatures in the next release of mirage (2.6.*) so we break the API once.

I don't know what is the correct signature, but having pure combinators to create callbacks + a way to start to listen for packets at every layer would make sense. I'm not very fond of the `register` / `unregister` thinks, although that's maybe the only way

[2015-07-23 10:47] talex5 commented on #426
@hannesm I meant that we could perhaps remove the register functions completely and let the application provide the mapping (with a `match` or a hashtable as desired). But actually, I see that we do it that way already (`TCP.input`).

The problem is that user applications can't rely on that, because the Unix sockets implementation requires registration. It seems to be a bit of a mess currently, be

[2015-07-23 11:58] hannesm commented on #426
@talex5 I agree that `input` are only useful for `stack_direct`.

@samoht "listen for packets at every layer" - I'm not entirely sure what you mean. A top-level `listen` which receives a packet, pushes it to the output demultiplexer of the layer, and loops makes imho only sense on the lowest layer (whereas registering a handler on top of another protocol should be available on every layer).

While

[2015-07-23 13:11] samoht commented on #426
What is difficult with listen is that it's something that you call on the low-level on the stack but usually you don't want to know about that low-level. I think there are two things that you want to compose when you get up the stack: the callback and the listeners (which take callbacks as parameters). Users should have a way to compose callbacks (using something similar to the policies you have d

[2015-07-23 13:42] talex5 commented on #395
It seems that you no longer need privileges, as long as the device is up. e.g.

    sudo ip tuntap add dev tap0 mode tap user $USER
    sudo ip link set dev tap0 up
    ./mir-network

(better error reporting would certainly be nice though - see #381)

[2015-07-24 07:59] senier opened #434 "mirage-seal breaks with upper-case build directory"
I'm trying to build a mirage-based HTTPS server on Debian/x86_64 following the instructions in [1]. When running mirage-seal from a directory that starts (?) with an uppercase letter, it bails out with an exception claiming that the directory is invalid.

# How to reproduce: #

1. Create a build directory starting (?) with an uppercase letter
    `$ cd; mkdir A`

2. Create files necessary to run m

[2015-07-24 11:59] lnmx commented on #434
Thanks for the thorough bug report.  The issue is specific to mirage-seal, I've entered an issue there: mirage/mirage-seal#18.

[2015-07-28 23:02] #434 closed

[2015-07-28 23:02] samoht commented on #434
This is fixed by a new release of mirage-seal (0.4.3)

[2015-07-30 00:10] samoht opened #438 "mirage should not uninstall itself after calling opam"
The tool should specify `mirage.<current-version>` in the package to install. Could make pinning a bit more difficult if not done correctly.

[2015-08-04 22:13] Drup commented on #405
Is camlp4 needed at all ? It doesn't seem very beneficial in `config.ml` scripts.

[2015-08-04 22:21] samoht commented on #405
we use to support the lwt syntax extension by default but not anymore. I think it's fine to just remove the camlp4 support completely.

[2015-08-04 22:22] Drup commented on #405
Pretty sure the lwt syntax is still loaded at the moment: https://github.com/mirage/mirage/blob/master/lib/mirage.ml#L2347

But if we can drop it, fine by me. :)

[2015-08-04 22:26] samoht commented on #405
what I meant is that we do not advertise the lwt syntax in the docs anymore so it should be fine to drop it. Would check that `mirage-skeleton` still compiles fine without it, but I'm in favour of dropping the support.

[2015-08-10 09:39] samoht opened #442 "Improve the CLOCK API"
Now that we have:

- [ptime](https://github.com/dbuenzli/ptime)
- [mtime](https://github.com/dbuenzli/mtime)

we should use them.

[2015-08-10 09:53] #348 closed

[2015-08-10 13:55] dbuenzli commented on #442
The idea was to redefine `CLOCK`, a clock representing "calendar" time to

[code]

[2015-08-12 13:53] mattgray commented on #442
Would it be better to redefine `CLOCK` (and therefore `mirage-types`) in terms of `Ptime` directly?

eg.
[code]

Then it would be usable directly eg. like this:

[code]

Or am I missing something about how the module defined in CLOCK will be consumed by the "end-user" unikernel author?

This is based on a quick bit of experimentation I did into adding the `int * int64` signature, which you can see

[2015-08-12 14:08] dbuenzli commented on #442
You don't want CLOCK to depend on ptime.

[2015-08-12 14:10] avsm commented on #442
@mattgray the `CLOCK` module type should ideally be independent of any concrete dependencies.  Libraries that use it can impose their own library structures on top of it, such as mapping `Ptime.t` to the types that `CLOCK` exposes.

[2015-08-15 12:27] mattgray commented on #442
So, as discussed in the meeting on Wednesday, I'm going to have a go at implementing this suggested change. I'm going to tackle it roughly as follows..

First of all add the interface above alongside the existing `CLOCK` interface, and get it working with `mirage-clock-{unix,xen}` - using more or less the same bindings / OCaml implementation based on `Unix`  that we currently have - this will prob

[2015-08-17 16:33] mattgray commented on #442
Should the `CLOCK` type (or another type in `mirage.ml`) also contain a way to retrieve monotonic wall-clock time (currently slightly hidden in `OS.Time.Monotonic`)? That way it would be more discoverable and serve to illustrate the differences between monotonic time and the "calendar" time that CLOCK currently has. We could have `now_monotonic_d_ps` etc

[2015-08-17 16:40] avsm commented on #442
Not sure -- this would mean that every backend needs to expose a mechanism for retrieving monotonic time (e.g. JS).

[2015-08-17 16:42] samoht commented on #442
I think adding a signature for monotonic clock makes sense. For JS we won't be able to use some implementation because there is no monotonic clock but that's fine. btw, see some new time signatures proposed by @dbuenzli  here: https://github.com/dbuenzli/tick/blob/master/src/tick.mli would be nice to check how easy/hard it is to implement and use these signatures in practice.

[2015-08-17 16:47] dbuenzli commented on #442
It's perfectly possible to get monotonic time for JavaScript. See mtime's [platform support](http://erratique.ch/software/mtime/doc/Mtime.html#platform).

As for the interface I would rather suggest to use a cheaper representation than the one used by PCLOCK. For example [this](http://erratique.ch/software/tick/doc/Tick.MCLOCK.html).

[2015-08-17 16:48] avsm commented on #442
Great! No objections from me then.

[2015-08-27 13:31] Drup commented on #381
Bumping that one, it would make the connect code nicer and I would prefer to do it while I'm shuffling everything.

[2015-09-03 18:50] djs55 opened #443 "Improve the Xen deployment model"
Following on from this thread: http://lists.xenproject.org/archives/html/mirageos-devel/2015-08/msg00046.html we should
- [ ] start checking in the .xl skeleton files to deployment repos as part of the build
- [ ] modify the deployment scripts to replace the `@VARIABLES@` in the .xl skeleton files to point to local resources (e.g. network bridge names)

At this point it will be easy to do things l

[2015-09-12 22:31] Drup opened #445 "`get_extra_ld_flags` filter argument is unused"
See [here](https://github.com/mirage/mirage/blob/8f441498c61188720765a5bf5c7a7516c60a6b2a/lib/mirage.ml#L2400-L2414). The argument is unused in the function but is called [here](https://github.com/mirage/mirage/blob/8f441498c61188720765a5bf5c7a7516c60a6b2a/lib/mirage.ml#L2480-L2484).

What should it do ?

#HeyIEnabledTheWarnings

[2015-09-13 10:53] talex5 commented on #445
Good idea turning the warnings on :-)

We used to include all C stubs, with a hack to remove some we didn't need. Now, we only include stubs that the package explicitly says are compiled for Xen. So, filter can be removed now.

[2015-09-15 21:44] mattgray commented on #442
So, I've been (very slowly) looking at implementing these interfaces and have reached the conclusion that implementing `current_tz_offset_s` on Xen isn't possible, as Mini-OS doesn't anywhere (that I can see) expose any timezone information from the host to the guest. Possibly it isn't provided at all by Xen. In any case it might not be desirable to have the guest timezone tied to the host.

I thi

[2015-09-15 22:01] dbuenzli commented on #442
If there's no way of getting that from the VM you can always return 0 for now. For the unix backend you can have a look at [here](https://github.com/dbuenzli/bos/blob/215b0b8c310aeaac56ecb7dba04004ab070b9eac/src/bos.ml#L44-L55).

That wouldn't help you in determining what's the *system* or *user* notion of local time from a user point of view (and you want to stay away from the tz database).

[2015-09-15 22:13] dbuenzli commented on #442
Btw I vaguely remember @avsm mentioning that this could be stored in xenstore I don't know much about all that stuff works but it seems that there's a timeoffset key mentioned on this [page](http://xenbits.xen.org/docs/unstable/misc/xenstore-paths.html).

[2015-09-16 00:10] Drup opened #446 "Extract mirage scripts in independent libraries"
This is to track the two points raised in #441.

It would be very nice to extract those scripts:
- [ ] script to create fat blocks
- [ ] scripts to produce the xen files

[2015-09-16 10:59] mattgray commented on #442
For the unix backend I've already implemented it  [here](https://github.com/mattgray/mirage-clock/blob/new-clock-api/unix/clock.ml#L56) using `Unix.mktime`, which interprets the `tm` value in the local timezone, and then returning the difference between the UTC and local timestamps. I think this has the same result but I'd like some other opinions on it.

From reading that page along with [HVM tim

[2015-09-16 18:31] dbuenzli commented on #442
This seems more clever than what I was doing...

[2015-10-02 16:35] samoht opened #447 "Functoria release aka Mirage 2.7.0"
Release list [no owner for the items yet]:

- [x] decide if we keep support for `--xen` and `--unix` or not
- [x] new release of cmdliner with environment variables
- [x] make a PR with draft of the blog post and gather comments https://github.com/mirage/mirage-www/pull/396
- [x] re-add [platform auto-detection](https://github.com/mirage/mirage/blob/master/lib/main.ml#L60-L75) to distinguish betwe

[2015-10-02 16:36] samoht commented on #447
@avsm @djs55 @mor1 @talex5 (and others). Any opinion on the API breaking change about `--xen` and `--unix` which become `-t xen` and `-t unix`?

[2015-10-02 17:34] amirmc commented on #447
Would be good to keep if possible. It's in many examples and probably scattered around the web.

Best wishes,
Amir

--
Sent via mobile

[2015-10-02 18:08] talex5 commented on #447
Yeah, will cause lots of confusion if that breaks. Just special-casing `argv = [| _; "--xen" | "--unix" |]` to show a note about the new format would be OK, though.

[2015-10-03 11:27] mor1 commented on #447
:+1:

personally i'm happy to change over to `-t xen|unix` only, and lose support
for `--xen` and `--unix` but only if there's a warning as THomas suggests

On 2 October 2015 at 19:08, Thomas Leonard <notifications@github.com> wrote:

--
Richard Mortier
mort@cantab.net

[2015-10-04 19:39] djs55 opened #448 "There should be somewhere to put bounds checks for BLOCK reads/writes"
If an app violates the contract of a V1 interface, for example by writing an out-of-bounds sector to a `BLOCK` device, who should detect the problem? We have multiple `BLOCK` implementations already:

- the raw Xen device driver
- the raw Unix device driver
- the `BLOCK` implementation from [mirage/ocaml-mbr]
- the `BLOCK` implementation from [xapi-project/ocaml-vhd]

Requiring each implementation

[2015-10-05 07:36] yallop commented on #448
That's a good idea.  It'd be worth having different names for the checked and unchecked versions -- `read` vs `unsafe_read`, and so on -- which show up in the type of the functor that adds checking.

[2015-10-07 17:28] samoht commented on #447
Updated the list with link to blog post PR, comments about the auto-detection code and need of cmdliner release.

[2015-10-12 12:53] avsm commented on #438
I'm not sure I like this idea.  It would be nicer if OPAM itself had a concept of roots, rather than the tool force installing itself...

[2015-10-12 13:09] dbuenzli commented on #438
What do you mean by that ? if you mean a root is something that was explicitely installed rather than installed resulting from a dependency resolution then I think `opam` already has the concept. Do an `opam list` and watch out for these underlined packages.

[2015-10-12 13:14] dbuenzli commented on #438
Or an `opam list --installed-roots`.

[2015-10-12 13:26] avsm commented on #438
Right -- I'm wondering why this issue arose in the first place.  In the normal course of events it should never happen, so presumably it's because of a failed source build causing the user to ctrl-c and preventing the mirage package from being recompiled correctly.

[2015-10-12 13:33] samoht commented on #438
The solver sometimes decide that the mirage tool needs to be updated or downgraded (solvers have their own reasons than humans do not know).

[2015-10-12 13:35] Drup commented on #438
Does it even happen with non-internal solvers in practice ?

[2015-10-12 13:36] avsm commented on #438
Mirage is recompiled if the depopts for Lwt change, for example.

[2015-10-12 13:37] Drup commented on #438
I know, I meant the change of version.

[2015-10-12 13:38] Drup commented on #438
(Note: mirage doesn't depend on lwt anymore, the code generated by mirage does)

[2015-10-12 13:38] avsm commented on #438
I've not seen the change of version happen in practise since the solver argument tweaks in OPAM 1.2.2

[2015-10-13 15:24] mattgray commented on #442
So, I've implemented everything for PCLOCK (although the new functions are still on CLOCK, I'm leaving the module refactoring til last because it requires fixing all the dependencies)

You can see the signature changes here: https://github.com/mirage/mirage/compare/master...mattgray:new-clock-api

and the implementation here: https://github.com/mirage/mirage-clock/compare/master...mattgray:new-clo

[2015-10-13 15:29] mattgray commented on #442
See also here for a small unikernel that exercises the new API https://github.com/mattgray/mirage-new-clock-api-test/

[2015-10-13 15:44] haesbaert commented on #442
On Tuesday, 13 October 2015, Matt Gray <notifications@github.com> wrote:

Im jumping on the boat without much info so I might be totally off.

Historically bsds use the rtc clock for gettimeofday and the lapic clock
for ticks, they are independent sources, so a 1000hz lapic clock would
produce the effects you see in clock_foo. Gettiimeofday cant use the lapic
clock since it wants higher resolution

[2015-10-13 16:31] dbuenzli commented on #442
Doesn't seem to go backward, in contrast to POSIX time.

One thing for sure is that if you use `gettimeofday` you should not pretend that the resolution is the one you get throught `clock_getres` as there absolutely no standardized link between the two.

Using a C stub is also easy using plain ocamlbuild (see for example [here](https://github.com/dbuenzli/mtime/tree/master/src-os)). But then I'm n

[2015-10-14 00:03] dbuenzli commented on #442
That's what I would do for `Ptime`'s OS dependent module. On darwin you could try `clock_get_calendar_nanotime`. There doesn't seem to be a function to return the actual clock period so I guess you should simply return 1ns.

[2015-10-14 18:26] samoht commented on #447
I've updated the task list, the current unticked box is what I am working on right now. Once this is done, the rest will be much faster, thanks to @Drup hard work this summer.

[2015-10-28 15:06] mattgray commented on #442
I've made some more changes [here](https://github.com/mattgray/mirage-clock/blob/new-clock-api/unix/clock_stubs.c) to address this.

On linux `clock_gettime` and `clock_getres` are used. On Darwin and Xen `gettimeofday` is used, and the clock period is hardcoded to 1 microsecond.

I looked into this and it seems to be for kernel extensions only, hence falling back to `gettimeofday`

[2015-10-28 15:17] dbuenzli commented on #442
I think it's preferable to return `None`, the resolution of `gettimeofday` is unspecified by [specification](http://pubs.opengroup.org/onlinepubs/9699919799/functions/gettimeofday.html).

[2015-10-30 16:23] samoht commented on #447
Functoria is now almost ready to release. Waiting for final ack from @Drup and eventual review from @yallop. Need to update the blog post with a small intro for the release (@amirmc can you coordinate that with @yallop) and replace the TODO with exemple on how to use `app_info` (@Drup can you look at that?). Thanks!

And sorry for taking so long to review functoria...

[2015-10-30 16:29] amirmc commented on #447
Hooray!  @Drup @yallop Let me know when I should look at the post again.

[2015-10-30 17:52] #445 closed

[2015-10-31 20:02] Drup commented on #438
I think we can close then. The new version depends on `mirage` explicitely, without version bound, but that should be enough.

[2015-10-31 20:03] Drup commented on #424
I thinks this one is solved. :)

[2015-10-31 20:03] #424 closed

[2015-10-31 20:06] Drup commented on #311
Is that solved ?

[2015-10-31 20:18] Drup commented on #273
That should be solved too, by creating a `list string` key.

[2015-10-31 20:55] yallop commented on #447
Are you planning to wait for the release of fmt? (/cc @dbuenzli)

I'm planning to look at this early next week, probably Monday.

[2015-10-31 20:56] Drup commented on #447
fmt has been released.

[2015-10-31 20:58] yallop commented on #447
Ah, so it has.  I was going by the description on the [GitHub page](https://github.com/dbuenzli/fmt):

[2015-10-31 21:49] #273 closed

[2015-10-31 21:52] #438 closed

[2015-10-31 21:52] #311 closed

[2015-10-31 21:53] samoht commented on #405
I think we should fix that one before the release.

[2015-10-31 21:54] samoht commented on #414
I think this is now solved (/cc @Drup)

[2015-10-31 21:54] #414 closed

[2015-10-31 21:56] #371 closed

[2015-10-31 21:56] samoht commented on #371
The website is not hosted at the computer lab anymore, so closing.

[2015-10-31 21:57] samoht commented on #349
I think that has been fixed by @djs55

[2015-10-31 21:57] #349 closed

[2015-10-31 21:57] samoht commented on #446
@djs55 apparently you are assigned to that task :p

[2015-10-31 21:58] samoht commented on #389
Ping. Can we have an update on that?

[2015-10-31 22:00] samoht commented on #244
we currently use RRDs to expose the GC stats on the MirageOS website: https://mirage.io/stats/gc

[2015-10-31 22:01] samoht commented on #245
Seems to be a duplicate of #349

[2015-10-31 22:01] #245 closed

[2015-10-31 22:04] samoht commented on #271
I think we should stop using camlp4 in MirageOS, so we first need a ppx version of cstruct.syntax. See https://github.com/mirage/ocaml-cstruct/pull/59

[2015-10-31 22:05] samoht commented on #229
The feature is implemented (a bit differently) in the next release of the mirage command-line tool. This is done by creating `cmdliner`-like terms used both at configure and runtime.

[2015-10-31 22:05] #229 closed

[2015-10-31 22:06] samoht commented on #228
This is now done.

[2015-10-31 22:06] #228 closed

[2015-10-31 22:08] samoht commented on #222
We now directly use the upstream compiler, so this issue should not be a problem anymore.

[2015-10-31 22:08] #222 closed

[2015-10-31 22:09] samoht commented on #214
`mirage-seal` is now released. It's only for static pages, though, not for Jekyll output.

[2015-10-31 22:10] samoht commented on #192
See https://github.com/dbuenzli/rpi-boot-ocaml

[2015-10-31 22:11] samoht commented on #172
This is now a parameter of `foreign` and the API is now [online](http://mirage.github.io/functoria/Functoria.html#VALforeign)

[2015-10-31 22:11] #172 closed

[2015-10-31 22:12] #165 closed

[2015-10-31 22:12] samoht commented on #165
The connect functions are not part of the V1 signature anymore.

[2015-10-31 22:13] #151 closed

[2015-10-31 22:13] #128 closed

[2015-10-31 22:14] samoht commented on #128
This is now out-of-date, closing. (and we have almost published everything!)

[2015-10-31 22:14] samoht commented on #181
I think this is now fixed.

[2015-10-31 22:14] #181 closed

[2015-10-31 22:20] samoht commented on #438
If we can put the version number in there that'd be extra cool. I think not having a version number is ok too, though (it's better than having nothing :p)

[2015-10-31 22:41] djs55 commented on #446
Yup .. I haven't forgotten! Making a lib to generate and parse .xl is on my
to-do list ;) (same for fat stuff)

On Sat, 31 Oct 2015, 21:57 Thomas Gazagnaire <notifications@github.com>
wrote:

[2015-11-01 15:02] dbuenzli commented on #447
@yallop Thanks. Corrected.

[2015-11-01 15:04] dbuenzli commented on #447
btw. in general my website is the authoritative source of information, github is just there for people to interact with the project

[2015-11-02 08:26] samoht opened #456 "Nocrypto autodetection is wrong"
See https://github.com/mirage/mirage-www/pull/402#issuecomment-152870284

[2015-11-04 11:51] talex5 opened #459 "Fails to set exit status on error"
Mirage should report a non-zero exit status if there are errors in the configuration. e.g. we currently have:

    $  mirage configure --unix --no-depext && echo All is well
    [ERROR] lwt.tracing module not found. Hint:
    opam pin add lwt 'https://github.com/mirage/lwt.git#tracing'
    All is well

I think the functoria merge broke this... /cc @Drup

[2015-11-04 12:21] talex5 opened #460 "Tracing doesn't work since functoria merge"
Test-case (mirage-console + tracing):

    open Mirage

    let main =
      foreign "Unikernel.Main" (console @-> job)

    let () =
      let tracing = mprof_trace ~size:1000000 () in
      register "console" ~tracing [main $ default_console]

Gives:

    File "main.ml", line 43, characters 2-12:
    Error: This expression has type unit but an expression was expected of type
             'a Lwt.

[2015-11-04 12:31] talex5 commented on #460
Also, I don't understand the new tracing API:

    val tracing : int -> job impl
    (** Tracking implementation. *)

    val mprof_trace : size:int -> unit -> int
    (** Use mirage-profile to trace the unikernel.
        On Unix, this creates and mmaps a file called "trace.ctf".
        On Xen, it shares the trace buffer with dom0.

        Deprecated. Is the identity over size.
    *)

    val

[2015-11-04 12:34] talex5 opened #461 "Errors in config.ml result in unhelpful error message"
If `config.ml` doesn't compile then you get an error about unknown options instead. e.g.

    $ cat config.ml
    foo

    $ mirage configure --unix
    mirage: unknown option `--unix'.
    Usage: mirage configure [OPTION]...
    Try `mirage configure --help' or `mirage --help' for more information.

Running without arguments shows the real error:

    $ mirage configure
    [ERROR]

    ocamlfind

[2015-11-04 12:54] Drup commented on #461
Duplicated of https://github.com/mirage/functoria/issues/37

[2015-11-04 14:36] Drup commented on #460
Hum, I remember testing it at the beginning of the dev, but not recently.

Do you prefer it to be abstract ? It's strictly the identity over int ...

That's going to be tricky. Maybe by modifying the prelude dynamically ?

[2015-11-04 14:44] talex5 commented on #460
Yes, the type of `~tracing` should be abstract. Otherwise, people will do `register ~tracing:1000000 ...` and then next time we add an optional argument or a new tracer, their `config.ml` will break.

[2015-11-04 15:52] avsm opened #462 "a key with a value has a bad error message if no value is supplied"
[code]

[2015-11-04 15:53] Drup commented on #460
Ok. As a side point, could you move all the boilerplate that is currently in mirage and expose two simple functions, `MProf_foo.connect` with foo = unix or xen ?

[2015-11-04 16:25] Drup commented on #462
Related to https://github.com/mirage/functoria/issues/37
I added a fix in https://github.com/mirage/functoria/pull/39

[2015-11-05 03:23] samoht commented on #459
This should be fixed now.

[2015-11-05 03:23] #459 closed

[2015-11-05 03:24] samoht commented on #462
Should be fixed now.

[2015-11-05 03:24] #462 closed

[2015-11-05 13:13] #456 closed

[2015-11-09 11:09] avsm opened #463 "Add native ARM64/Xen support"
@baozich has got a MiniOS ARM64 working at https://github.com/baozich/mini-os

See: http://lists.xenproject.org/archives/html/minios-devel/2015-11/msg00005.html

OCaml 4.02.3 should have quite robust native code generation support for this (once ocaml/ocaml#61) is applied, so we could get an ARM64 unikernel up and running without too much pain.  Need to make sure that the 32-bit/64-bit negotiation

[2015-11-09 12:43] avsm opened #464 "config files in subdirectories no longer work since functoria merge"
From a `mirage-skeleton` master and `mirage` master pinned:

[code]

If I switch into the subdirectory:

[code]

So it looks like support for a custom `config.ml` has been dropped from the `mirage` frontend tool.

[2015-11-09 12:45] Drup commented on #464
@avsm It isn't, See [the breaking changes](https://github.com/mirage/mirage-www/pull/390/files?short_path=bf20ed1#diff-bf20ed1a00d5115393dd7dc8645fe254).

[2015-11-09 12:47] avsm commented on #464
Got it, thanks @drup!  Those changes really need to be listed in the `CHANGES.md` for `mirage/mirage`, as that's the authoritative source inside the repository.  Any chance of a PR that does that?

[2015-11-09 12:48] Drup commented on #464
Oh, yes. I can do that.

[2015-11-12 10:40] talex5 commented on #460
Moving the boilerplate out isn't very easy:

1. Things like the trace file name and whether to start immediately are simply things that the mirage API doesn't yet let you configure. They shouldn't be hard-coded in the library, even if they are currently hard-coded in mirage.

2. The mprof library must have very few dependencies, because everything else depends on it. Moving the code would create c

[2015-11-12 11:35] Drup commented on #460
I don't see how your points prevent you to do that:

[code]

[2015-11-12 11:51] talex5 commented on #460
Yeah, could save a line in the Unix one.

[2015-11-12 12:06] Drup commented on #460
It's not about saving a line, it's about putting as much of the plumbing as possible in control of the library, instead of putting it in mirage.

[2015-11-17 10:16] talex5 opened #467 "Xen default_console not found after functoria merge"
When I deploy a Xen unikernel (e.g. `skeleton/console`) built with functoria, I get:

`Console.connect console_xen_0: doesn't currently exist, waiting for hotplug`

Looks like

    Console_xen.connect "console_xen_0"

should be just

    Console_xen.connect "0"

[2015-11-20 14:31] avsm opened #469 "Add blog post / xref about unikernel.org site"
There's no xref from Mirage to the unikernel.org site; @samoht suggests a blog post.

[2015-11-20 23:25] #469 closed

[2015-11-21 15:22] talex5 opened #470 "get_mode () returns Unix with --xen (functoria)"
I have this in my `config.ml`:

    let main =
      let libraries =
        match get_mode () with
        | `Xen -> print_endline "Xen"; ["vchan.xen"]
        | `Unix -> print_endline "Unix"; ["vchan.lwt"] in
      foreign
        ~libraries
        ~packages:["vchan"]
        "Unikernel.Main" (console @-> job)

When I try to compile for Xen, it still uses the Unix flags:

    $ mirage configure

[2015-11-21 17:11] Drup commented on #470
Thanks, it's solved. You should still avoid `get_mode`, Once the PR is merged, you will be able to write:

[code]

(The version with `base_configurable ` is barely a few lines longer)

[2015-11-21 17:15] talex5 commented on #470
Does `get_mode` still give the wrong value?

[2015-11-21 17:34] Drup commented on #470
No, that's fixed.

[2015-11-26 23:41] #470 closed

[2015-11-27 12:39] samoht commented on #447
@yallop #460, #464 and #467 needs investigation. Also https://github.com/mirage/mirage-www/pull/410 and the suspicious repetitions of messages on https://github.com/mirage/mirage-www/issues/404

[2015-11-27 16:05] Drup commented on #464
This is solved.

[2015-11-27 16:05] #464 closed

[2015-11-27 16:52] #467 closed

[2015-11-28 12:10] talex5 commented on #470
Yep - works for me now - thanks!

[2015-11-29 12:03] talex5 commented on #333
The original problem is fixed via https://github.com/mirage/mirage-clock/pull/2 (at least, once there's a new release of mirage-clock-xen). Should we close this and open a new issue for improvements to the interface?

[2015-11-29 12:34] hannesm commented on #333
@talex5 there's discussion about the CLOCK API in #442.  This issue can imho be closed.

[2015-11-29 12:36] #333 closed

[2015-11-29 17:55] mor1 commented on #460
Reopening issue to note that the fix applied in #466 violates assumptions made in functoria so, although it works for now, it might become broken in future.

The suggestion (by @drup) is that the prelude should be made parametric to fix this properly.

[2015-12-01 15:54] yallop opened #472 "--version and --help require a config.ml file"
In previous versions of mirage, `--version` and `--help` would work regardless of whether there was a `config.ml` file in the current directory:

[code]

With the current HEAD, the `mirage` command ignores its arguments when it can't find `config.ml`:

[code]

[2015-12-01 17:06] Drup commented on #472
I know, and I don't know how to solve it, if someone understands cmdliner enough to be capable to untangle the pile of spagetti that is functoria_tool, I would be grateful.

[2015-12-02 12:52] yallop commented on #472
I'll take a look at it.

[2015-12-02 23:24] wmhaddad opened #473 "Unikernel size"
Submit an issue about shrinking Mirage DHCP server image size
(e.g., is it possible to re-size down to level similar to DNS?)

[2015-12-02 23:34] wmhaddad opened #474 "Inter-VM communications via Conduit"
Submit a request for documentation on "conduit" and how to use it

[2015-12-02 23:35] yomimono commented on #473
Do you mean the amount of memory necessary to run the unikernel, or the disk size of the generated unikernel?  (Of course it would be good to get both of those numbers to be small...)

[2015-12-02 23:37] hannesm commented on #473
From what I got in the call it is mainly about the (runtime) heap size... (currently it seems to need at least 16 MB according to the call today)

[2015-12-02 23:42] yomimono commented on #473
For context, currently the "hello world" console example in mirage-skeleton runs out of memory with any less than 12MB allocated to the VM:

[code]

[2015-12-02 23:44] wmhaddad commented on #473
Yep, I meant the amount of memory to run it

[2015-12-02 23:45] wmhaddad commented on #473
Correct, it currently requires at least 16 MB

[2015-12-03 12:40] amirmc commented on #474
Thanks for this!  I'll make a related issue on the conduit repo too.

[2015-12-04 14:17] yomimono opened #476 "Duplicated network setup for stacks"
For unikernels that request a stack (like [the network example in mirage-skeleton](https://github.com/mirage/mirage-skeleton/tree/master/network)), Mirage currently generates a `main.ml` that duplicates connection code many times over and results in a stack built with distinct (but identically configured) records for the underlying implementations.  For example, here's the snippet that generates t

[2015-12-04 14:38] Drup commented on #476
Alternatively, instead of a unit function, we return a Lazy, this should solve the problem once and for all.

[2015-12-04 14:44] yomimono commented on #476
Would you not still have the problem of distinct records (rather than everything being built on top of the same netif/ethif/ip/arp/etc record) with the lazy approach?

[2015-12-04 14:48] Drup commented on #476
I don't think so. The udp example would look like that :

[code]

[2015-12-04 16:09] yomimono opened #478 "~deps:[abstract nocrypto] suggestion emitted for unikernels that don't use nocrypto"
Trying to get [the conduit_server_manual example in mirage-skeleton](https://github.com/mirage/mirage-skeleton/tree/master/conduit_server_manual) to build for Xen with the latest mirage, the tool instructed me to add `~deps:[abstract nocrypto]` to the call to `foreign`:

[code]

But after doing so, the generated `main.ml` adds an extra argument to the invocation of the start function, and the resu

[2015-12-04 16:13] talex5 commented on #478
As a work-around, you could add a `()` argument. However, the error is wrong, since the example doesn't need nocrypto.

[2015-12-04 16:16] yomimono commented on #478
Looking at CHANGES.md it appears this is actually the intended behavior, so I'll just submit a PR for mirage-skeleton instead to add the extra argument in unikernel.ml .

[2015-12-04 21:24] yomimono commented on #478
The message about nocrypto is emitted because tls is an installed depopt of ocaml-conduit, which is itself a dependency of mirage-http, which is included in the list presented to `add_to_opam_packages`.  It's true that the example uses no TLS, though.  @drup, is there new functionality in the Functoria rewrite of mirage that we could use to get around this?

[2015-12-04 21:29] Drup commented on #478
@yomimono Ah yes, I know about that one. See https://github.com/mirage/mirage/pull/458

Basically, until conduit is correctly packaged, no. nocrypto *is* a link dependency of conduit if tls is installed, If there is a way to magically guess that it's actually not needed, I don't know it.

[2015-12-08 10:38] mato opened #479 "[meta] Upstream the Mirage/Rumprun port"
The purpose of this issue is twofold. First, to document the work done on the Mirage/Rumprun port so far, second, to serve as a meta-issue to track all of the pieces needed to fully upstream the Mirage/Rumprun port.

The Mirage/Rumprun port consists of:

1. A fork of the mirage tool which adds support for the `rumprun` target.  ([mato/mirage#rumprun](/mato/mirage/tree/rumprun))
2. An OPAM reposito

[2015-12-08 20:10] whitequark commented on #479
Note that OCaml 4.02.3 requires no patches, only provided configuration files. (There's an ocamldoc-related patch in my ocaml-android tree, but it's inessential.)

[2015-12-22 22:06] dbuenzli commented on #442
@mattgray I was reviewing [your technique](https://github.com/mattgray/mirage-clock/blob/179c9b69b0ce458d9ee33a98781d4b8f027d3e60/unix/pclock.ml#L30-L33) for computing the timezone offset in the `Ptime_clock` module to be distributed with `Ptime` and I had hard time figuring out what you were doing since you get the right values while making the wrong symbolic computation (which should be `tzoff =

[2015-12-22 22:12] dbuenzli commented on #442
Oh but in fact this is simply a way to find the coefficient of a function that is known to simply subtract a coefficient. We have:
[code]
and we know that `g` is such that:
[code]
so to find `c` we just do `x - (g (f x)) = x - (x - c) = c`. So in fact solving for `0.` you can even avoid the call to `gettimeofday` and simply write:

[code]

[2015-12-23 19:19] dbuenzli commented on #442
Except don't, it seems unreliable on Darwin, while it doesn't seem to be if you solve against the current value of gettimeofday.

[2015-12-24 16:13] mattgray commented on #442
Hi @dbuenzli, and thank you for the very thorough analysis.

You are quite right, I followed through your workings and `ts_local` /  `alpha` is actually something like "what would the UTC time be if it were the current UTC date in the local timezone". Which is a pretty confusing idea and I'm not sure if I can convince myself that it will always yield the correct offset. I prefer the longer version

[2015-12-24 16:20] mattgray commented on #442
I'm now not sure that we should even be including `current_time_zone_offset ` or anything timezone related in this module. First of all, we can't supply anything meaningful in Xen for this value. And we also then force any future implementations of `PCLOCK` to provide time zone info, even thought the different clock sources that an implementor might use have no concept of timezone internally. It s

[2015-12-24 16:20] dbuenzli commented on #442
Funny is that I eventually switched to your version in Ptime_clock, but I think you are right I'll switch back to my earlier technique.

Another thing I found while reviewing ptime's documentation. Is that the documentation of `current_tz_offset_s` as suggested above is confusing. We should not talk about "the clock's current time zone offset" it may lead people to think that `now_d_ps` returns ti

[2015-12-24 16:23] dbuenzli commented on #442
I still think it's a good thing to have. Those who don't have the information can simply always return [None] which is really not an implementation burden.

Having the timezone information is useful for example when sending email, it can give contextual information to the recipient about when the person did send his message from his perspective.

[2015-12-24 16:27] dbuenzli commented on #442
I thought that gmtime wouldn't bother redo all the history and I suspect it doesnt, I tried with OCaml's birth date in the 90's and it still gives +3600. On Darwin it seems something rather racy I swear I saw it give the right answer +0 in some cases.

[2015-12-31 00:33] yallop commented on #460
It's broken now, since https://github.com/mirage/functoria/pull/44, as @Drup [notes](https://github.com/mirage/functoria/pull/44#issue-120573786).

[2015-12-31 00:58] yallop commented on #460
The problem, as @Drup points out [elsewhere](https://github.com/mirage/mirage/pull/466#issuecomment-156078829), is that the [tracing `connect` method](https://github.com/mirage/mirage/blob/91e05fdee55fc04d7b0a0b2392c1f41a0e29dc4b/lib/mirage.ml#L960-L962) generates code like this

[code]

which is expected to appear in a specific context, whereas functoria assumes (but does not currently enforce) t

[2015-12-31 00:59] yallop commented on #460
Ah, I've just noticed this:

so it sounds like something based on let insertion might be a more reasonable approach.

[2015-12-31 01:33] yallop commented on #476
This appears to have been fixed by mirage/functoria#44.  @yomimono, can you confirm?

[2015-12-31 01:35] yallop commented on #460
@Drup suggests another approach [here](https://github.com/mirage/functoria/issues/45).

[2016-01-03 16:28] Drup commented on #460
Hum, I forgot to push that commit to mirage. This is done now.

You summarized the situation very well. If I understand this let-insertion scheme correctly, it's about marking placeholders in the syntax tree that can receive let bindings and then try to insert the let bindings in those place holders.
Oleg's version is marking the placeholder with some delimcc magic, but we can clearly do without t

[2016-01-04 21:56] #478 closed

[2016-01-04 21:56] yomimono commented on #476
Yes, all appears to be well now; closing.

[2016-01-04 21:56] #476 closed

[2016-01-04 22:12] yomimono opened #481 "netif-forward broken with current trunk mirage"
Attempting to build netif-forward (a unikernel with two network devices) with `mirage configure --unix` succeeds, but when attempting to run it a failure is always encountered on initializing the second interface.  Building with mirage 2.6.1 succeeds on the same machine.  Hacking in some debug output, it looks like mirage is trying to initialize the same interface twice in the Functoria version, l

[2016-01-04 22:13] yomimono commented on #481
This issue was reported in #mirage by @jgjl (thanks!)

[2016-01-04 22:34] Drup commented on #481
Ah, yes, because they use the same key names by default...
I think the best is to not generate keys by default. It's going to be the same issues for the stack and kv_ro, unfortunately.

[2016-01-04 22:36] Drup commented on #481
Of course, you can "solve" it by doing this:

[code]

and then the code @yomimono posted become this:

[code]

[2016-01-11 17:23] dsheets commented on #398
I would like this, as well.

[2016-01-11 17:30] dsheets commented on #398
[scripts/nat-script.sh](https://github.com/mirage/mirage/blob/master/scripts/nat-script.sh) is GPLv2 but is a shell script and so not linked and so probably does not infect the rest of the package.

[2016-01-11 22:51] amirmc commented on #398
I’m not sure that we should be requiring LICENSE files since the code already has licence info at the top — unless the LICENSE file just says ‘see the code’, or something. Even in this repo there's an example of code that is present under different licences so one LICENSE file would be misleading.

I recall that this came up elsewhere (and I added my 2cents back then [1]).

[1] https://github.com/

[2016-01-11 23:10] djs55 commented on #398
I think from a user's point of view, we should make it easy as possible to
understand and comply with all the license terms of all the software in a
project (including all the dependencies). There could be a really large
number of source files compiled into a unikernel. It would be bad if a
license obligation (e.g. a GPL source code offer or an old BSD advertising
clause or a "do not evil" clause)

[2016-01-11 23:17] agarwal commented on #398
My additional 2 cents: I prefer a single LICENSE file, which doesn't mean there is a single license for all files. See for example the [cufp.org license](https://raw.githubusercontent.com/CUFP/cufp.org/master/src/site/license.md).

@amirmc In the comment he linked to says:

Indeed, so my solution is to *not* put the license in individual files. I find this beneficial for many reasons:

- It is dif

[2016-01-11 23:20] amirmc commented on #398
I completely agree! User should be able to see quickly what licenses are involved in a project.

This is also made more complicated by the example in this repo. The unikernel doesn’t require the GPL shell script mentioned here but since that file does exist in the repo, it shouldn’t be forgotten if we summarise license info elsewhere.

Some kind of automated tooling would be great but I can imagin

[2016-01-11 23:44] amirmc commented on #398
The CUFP example is useful but it's made simpler by the fact that *all* code is ISC.  If there had been a mixture of (compatible) licenses, that section might look a lot more complicated as it would have to refer to which code-snippets were licensed differently.

Regarding Ashish's points:

I agree. In my other comment, my suggestion was to mention something in the README about how most of the cod

[2016-01-12 00:39] dbuenzli commented on #398
The problem is that more than often this single LICENSE file is misleading or gets outdated. If you are serious about IP rights you will have anyways to go through all the sources.

As said above this is something you will have to do anyways.

This is a non issue unless you change your license (which incidentally is a problem I'm soon going to have as I'm going to relicense all my sources). Copyri

[2016-01-12 10:18] talex5 commented on #398
FWIW, at the last place I worked we used to have just a LICENSE file and a "See LICENSE file" header. However, people tended to copy files from our project into theirs, with a different license (accidentally). So I think it's worth naming the license (and copyright holder) at the top of each file. However, the text of the license doesn't need to be duplicated.

Perhaps the opam repository itself c

[2016-01-12 10:20] avsm commented on #398
No GPL code in this repo please. Will remove this script.

[2016-01-12 14:12] agarwal commented on #398
People copy code from or to other places is the one argument I agree with that in favor of duplicating license info in each file. However, I wonder how often this really happens. For most projects, you can't really ever drop in a file from or take a file to somewhere else and have it work.

What I have experienced myself is copying a small bit of code to somewhere else. The header won't be copied,

[2016-01-16 22:43] hannesm commented on #187
while this is a two year old issue, I was wondering what the status is?  I got interested in this since bhyve (the (legacy-free) FreeBSD hypervisor) [recently added support](https://wiki.freebsd.org/bhyve#Q\:_Does_bhyve_support_UEFI\.2FBIOS\.3F) for UEFI.

[2016-01-20 20:00] ol-anssi commented on #187
There is no short-term plan to support a fully-fledged UEFI stack.

Parsifal is essentially a framework to write parsers and analyse complex binary format using robust and reliable tools. Our first (and still) main use is the study of the TLS protocol and the related formats (such as X.509 certificates).

[2016-01-31 02:10] wiredsister opened #487 "FS examples?"
Any more in depth examples of working with the file system? I just see the disk image example in `/lib_test/fat`...
Something with `FS.create` and `FS.mkdir` to generate some directories and dummy files would be wildly useful.

Other questions:
I'm trying to build something that generates a static site source directory with templates and user configuration files (like Jekyll). So reading, parsing,

[2016-01-31 15:28] yomimono commented on #487
Using `Unix` or `Lwt_unix` will result in your application not being usable with the Xen backend (i.e., as a unikernel).  If you only intend to build your applications with `mirage configure --unix`, this may not be a problem for you.

Re: `V1_LWT` vs `V1` -- most modules only have fully concrete definitons in `V1_LWT`; the definitions in V1 have an abstract `io` type which `V1_LWT` defines as `Lw

[2016-02-02 02:28] wiredsister commented on #487
Yes, thank you for your thorough explanation! I was able to get this to work.

I'll close this issue and paste back here for any questions. Any other resources for beginners I should be looking at? I saw you have an example-unikernels repo and I've already gone through the examples and installation tutorial provided by mirage.

[2016-02-02 02:28] #487 closed

[2016-02-02 02:38] amirmc commented on #487
Tagging @dsheets since he's the first person I think of when someone mentions file systems (sorry, dude!).

He's also relevant since you mention Jekyll and there's still a related Pioneer Project to build an [Blog and OPAM-aware static website generator](https://github.com/mirage/mirage-www/wiki/Pioneer-Projects#blog-and-opam-aware-static-website-generator) — which we're both mentors for.  The wor

[2016-02-02 11:03] dsheets commented on #487
@hannesm and @yomimono are the right people for the current Mirage FS interface, I think.

[2016-02-02 11:13] hannesm commented on #487
I haven't used files much.. sorry

[2016-02-07 01:22] sgrove opened #488 "Difficulty debugging working Unix mirage app under Xen"
I've got a custom site working locally on the unix backend using Drup's No. as a starting point (with a pinned mirage/functoria). Works with the unix setup, but running into an issue under xen. Looks like something to do with Xenstore, so probably has to to do with https://github.com/Drup/No./blob/master/config.ml#L26, but I'm not sure. This is the output that I have to go off of:

[code]
Here's t

[2016-02-07 10:36] djs55 commented on #488
Hi,

On Sun, Feb 7, 2016 at 1:22 AM, Sean Grove <notifications@github.com> wrote:

We've been improving that in an 'experimental' branch but it's not quite
ready yet.

In the meantime I would recommend cloning mirage/ocaml-xenstore and adding
a printf in the read function here:

https://github.com/mirage/ocaml-xenstore/blob/a363894ede290f6390deb78fe20ae335398b6b28/client_lwt/xs_client_lwt.ml#L290

[2016-02-07 13:06] talex5 commented on #488
I have a `logging` branch of xenstore here which you may find useful:

https://github.com/talex5/ocaml-xenstore/tree/logging

It:

1. Includes the request in the error message, so you can see what it was trying to read.
2. Logs (at debug level) various XenStore operations, if you want to see the call in context. Use e.g. https://github.com/talex5/mirage-logs to see the logs.

[2016-02-07 17:43] sgrove commented on #488
@djs55 took your advice (thanks for the example command, would have struggled with it otherwise), and here's the output after adding a `printf` to line `290`:

[code]

[2016-02-07 18:23] djs55 commented on #488
On Sun, Feb 7, 2016 at 5:43 PM, Sean Grove <notifications@github.com> wrote:

it optional:

https://github.com/mirage/mirage-bootvar-xen/commit/10f6d52d0758c0c013a7ea57067c560761063ab4

but it hasn't been released yet. Try rebuilding with this pin:

`opam pin add mirage-bootvar-xen git://github.com/mirage/mirage-bootvar-xen`

Cheers,
Dave

--
Dave Scott

[2016-02-07 19:01] sgrove commented on #488
Yup, looks like that did it! Must be that I just needed the latest (pinned) version of several dependencies. Sounds like maybe it's time for a coordinated release across the whole Mirage platform...? :smiley:

[code]

I can't reach the host, but I assume that's some vm config I need to take care of - thanks so much for the help!

[2016-02-07 19:01] #488 closed

[2016-02-07 19:15] djs55 commented on #488
I'm glad that fixed the boot problem! I've made an issue over on mirage/mirage-bootvar-xen. I had assumed that the `cmdline` patch was only needed for XenServer, but clearly the problem is more general :/

[2016-02-07 22:12] MagnusS commented on #488
I've made a new release of `mirage-bootvar-xen` with the fix (v0.3.1). It should be available in `opam` soon after https://github.com/ocaml/opam-repository/pull/5561 has been merged.

[2016-02-12 10:09] avsm opened #489 "Embed crunch in an ELF section rather than static linking"
Rather than static linking, we could embed the crunch filesystems in an ELF section.  This would:
- speed up compilation time by not passing the block device through ocamlopt
- not require a dynamic block device
- not map the data in memory twice, since it wouldnt be in the code section.

See https://devel.unikernel.org/t/includeos-filesystem-api/108 for the IncludeOS thread on this, so we can obe

[2016-02-16 12:03] yallop commented on #460
@talex5, can this be closed now?  The code in the original report now compiles, at least, and the tracing API is [restored](https://github.com/mirage/mirage/commit/385df0ffb3d18d4f8278e434371aa0799d703494).

[2016-02-16 12:09] Drup commented on #460
@yallop I think this can be closed, we have another ticket in functoria to track the underlying issue.

[2016-02-16 12:09] #460 closed

[2016-02-16 12:14] #472 closed

[2016-02-16 12:24] Drup opened #490 "Protection against key confusion"
The multi-connect issue is fixed, but it is still possible to have multiple connects by using keys. If you have two ethernet devices, eth1 and eth2, that both have a key and you point to the same interface on the command line, it's going to crash.

I think this issue is inherent to how key works, and it's difficult to know if it's valid to have the same key twice without adding semantics to the ke

[2016-02-16 12:39] Drup opened #491 "Feedback on key usage"
This issue is here to track user-feedback on predefined keys in devices. My initial version, which is the [current dev version](https://github.com/mirage/mirage/tree/66f5fd9184c52bb3e0b02af32d80038b1d6bf137), was to put keys in devices rather liberally. I'm not sure it's good or bad and, more importantly, I fear it's a bit surprising for users.

Right now, those devices have keys:
- kv_ro generic

[2016-02-16 12:41] Drup commented on #447
@samoht All of those are now fixed.

[2016-02-16 14:26] amirmc commented on #491
I think it’s worth send an email to the list pointing at this issue.  I’ve pointed a few people at functoria but not sure if they’re watching this repo (so may not notice this request for feedback).

[2016-02-17 17:42] amirmc commented on #447
@yallop Can you update the set of checkboxes at the top here? It's not clear what still needs to be done before the 2.7 release.

[2016-02-17 17:49] Drup commented on #447
For mirage-www, the PR to merge is probably [this one](https://github.com/mirage/mirage-www/pull/410). https://github.com/mirage/mirage-www/pull/389 is more involved (and probably need a bit of testing, I'm not sure it works well with decks and all that).

[2016-02-18 20:44] talex5 opened #493 "Functoria: need a way to disable Bootvar"
Is there a way to disable the `Bootvar` parsing? Some platforms don't give you control of what kernel arguments you get, and if functoria can't parse them then the unikernel is unbootable. Qubes, for example, passes lots of arguments intended for Linux. As a work-around, I manually edit my `main.ml` after running `mirage` to:

    let argv_xen1 = lazy (return (`Ok [| "" |]))

[2016-02-18 20:56] Drup commented on #493
Hum, no, there isn't. I'm curious though, wouldn't argv be empty in this case ? If it's not the case, shouldn't bootvar-xen be fixed ? It doesn't seem very good to already disable bootvars during configuration.

[2016-02-18 20:58] Drup commented on #493
If you insist that being able to disable bootvar at configure time, it should be very easy to add one more argv device, that always returns `""` and hide the whole thing behind an `if_impl`.

[2016-02-19 09:39] talex5 commented on #493
It doesn't like it being empty for some reason:

    MirageOS booting...
    Initialising timer interface
    Initialising console ... done.
    Netif: add resume hook
    gnttab_stubs.c: initialised mini-os gntmap
    qubes-firewall: internal error, uncaught exception:
		    Invalid_argument("argv array must have at least one element")
		    Raised at file "pervasives.ml", line 31, characters 25-

[2016-02-19 10:12] Drup commented on #493
Oh, that is indeed a bug...

- Cmdliner removes the first element of argv (and returns this error when argv is empty).
- mirage-bootvar-xen doesn't always add the executable name at the beginning.

Which also means it's probably going to ignore the first options ....

@MagnusS Your opinion ? Should I add the executable name myself in functoria, or should it be done in bootvar ?

[2016-02-19 10:20] MagnusS commented on #493
Since we now have `argv` and `to_argv` in bootvar I think we should fix them to work as expected and always set first entry to kernel name or a placeholder.

[2016-02-19 10:21] Drup commented on #493
Actually, I just looked in more details, and we do add one empty string at the beginning of the array
@talex5 How did you triggered that ?

[2016-02-19 10:54] talex5 commented on #493
If you configure with `--unix` it generates:

    OS.Env.argv () >>= (fun x -> Lwt.return (`Ok x))

`OS.Env.argv ()` is just `Lwt.return (Sys.argv)`, so it looks like it does expect the program name here.

You should be able to reproduce it with any unikernel by editing the `main.ml` to give an empty array and then running it.

[2016-02-19 11:00] Drup commented on #493
Right, so you are just replacing the generated code by faulty code. There is nothing to fix here, just don't give an empty array ....

More important, what is the failure in the original case ("Some platforms don't give you control of what kernel arguments you get, and if functoria can't parse them then the unikernel is unbootable.")

[2016-02-19 11:17] talex5 commented on #493
Yes, I know. I was just responding to your question about why I used `[| "" |]` instead of `[| |]`.

The issue is that some systems (e.g. Qubes) supply a whole load of extra arguments (intended for Linux systems), which functoria can't parse. This makes the unikernels unbootable on such systems. It's not really functoria's fault, but we probably should provide a work-around.

[2016-02-19 12:26] Drup commented on #493
Right, we just misunderstood each other. I understand the issue better now. I see two solutions.

- Create a device that accepts qubes parameters
- Create an empty_arvg device, as proposed earlier.

[2016-02-19 13:17] talex5 commented on #493
Yes, sorry - I see now you meant: why doesn't Qubes pass an empty list? It actually gives us:

    root=/dev/mapper/dmroot ro nomodeset console=hvc0 rd_NO_PLYMOUTH 3

Is there a way to specify an `empty_argv` device in `config.ml` now, or will it require changes to mirage?

[2016-02-19 13:19] Drup commented on #493
It will require changes to mirage.

[2016-02-20 08:21] mor1 opened #494 "depexts and sudo"
It seems that the tool generally attempts to run `apt-get` as `sudo` to install depexts on Linux.
In some cases, the user might not have `sudo` powers, but equally, might not require them.
In others, the user might be required to run an alternative command to obtain `sudo` powers (e.g., here in the Computer Lab, in some cases `cl-asuser sudo` is required).

Would it be reasonable to either augment

[2016-02-20 11:52] samoht commented on #494
I think that's fine, as long as the `depext` query/install time don't become too long. It seems to be a big perf bottleneck.

[2016-02-20 16:12] Drup commented on #494
Shouldn't that be solved in depext instead ?

[2016-02-20 19:41] avsm commented on #494
Yes this should be an issue against depext

[2016-02-21 16:48] mor1 commented on #494
Ok-- which repo is depext then?

[2016-02-21 16:57] dsheets commented on #494
https://github.com/ocaml/opam-depext

[2016-02-22 10:44] djs55 opened #496 "travis is broken"
[code]

see #495

[2016-02-22 16:03] Drup commented on #493
@talex5 Does bootvar even parses this command line ? It looks like you would have the same issue than https://github.com/mirage/mirage-bootvar-xen/issues/17

[2016-02-22 16:09] talex5 commented on #493
I haven't got my test machine with me at the moment but I think you're right: bootvar complains that `ro` is malformed because it doesn't contain an `=`.

[2016-02-22 20:07] MagnusS commented on #493
The current parsing in bootvar is limited - it was originally only intended to be used for key/value pairs, not command line options. The current `argv` function makes it work with functoria, but doesn't always behave as expected. For example, space, quotes and keys without values are not allowed and parameters get '-' and '--' automatically prepended. We can improve the regexp, but to fix it prop

[2016-02-22 21:38] Drup commented on #493
Let's assume that all the parsing problems can be fixed in bootvar (I'm very confident we can do it!)

This is an interesting idea for when you have no idea where you are going to deploy. However, I think a better solution would be to create a device that accept the Qubes parameters as keys, which would give you access to those parameters inside your unikernel. Same thing for EC2.

[2016-02-22 21:40] Drup commented on #493
And you can already define this device (and the associated keys) inside your config.ml.

[2016-02-26 12:26] yallop commented on #447
@amirmc: yes, I'll update as I go.

[2016-02-26 13:09] yallop opened #498 "Release mirage 2.7.0"
I'm planning to tag and release mirage 2.7.0 shortly.

@avsm, @djs55, @samoht, @yomimono, @talex5, @Drup, @mor1, others:
Is there anything that's absolutely essential to fix before I do?

[2016-02-26 13:12] Drup commented on #498
https://github.com/mirage/mirage/issues/493 needs a change in bootvar for a proper fix, so it will have to wait. Once the fix in bootvar has landed, it can be fixed locally inside `config.ml`, so I don't consider it blocking.

[2016-02-26 13:27] amirmc commented on #498
There's a tracking issue at https://github.com/mirage/mirage/issues/447 and there are a number of open issues there.  I notice that #493 isn't listed.  IIRC Mirage 2.7.0 is basically the Functoria release so could we keep this activity in one place?

@yallop Could you look though the first comment on #447 and update it to reflect reality?

[2016-02-26 13:35] amirmc commented on #447
Just saw your comment Jeremy :)
I'm reviewing the latest version of the blog post now and noticed a few typos. Will submit edits in a PR to @Drup's fork.

[2016-02-26 15:05] hannesm commented on #498
@Drup should #497 be merged, or is an appropriate fix for that issue (#493) solely in bootvar?

[2016-02-26 15:06] Drup commented on #498
@hannesm It's very crude, and I think we should try to find a better fix.

[2016-02-26 15:14] yallop commented on #498
@amirmc: #493 isn't a blocking issue, so I'm leaving it off the list at #447.

[2016-02-26 16:08] yallop commented on #498
I've tagged the release ([v2.7.0](https://github.com/mirage/mirage/tree/v2.7.0)) and submitted a PR (https://github.com/ocaml/opam-repository/pull/5798) to opam-repository.

[2016-02-26 17:06] sgrove opened #499 "No way to specify package versions/pins in config.ml"
As noted [here](http://lists.xenproject.org/archives/html/mirageos-devel/2016-02/msg00080.html), I need to pin a bunch of packages (e.g. https://github.com/mirage/mirage-bootvar-xen/issues/15) to get the unikernel booting appropriately, but there's no way to express this in config.ml. Someone else trying out the project will run into issues due to incorrect package versions, so working in a team o

[2016-02-26 21:04] yallop commented on #498
It's [merged](https://github.com/ocaml/opam-repository/tree/b8b51c8aa72ca39ee84a5131989b4659a31061dc/packages/mirage/mirage.2.7.0).

[2016-02-26 21:04] #498 closed

[2016-02-26 21:25] yallop commented on #447
There are mostly just a few mirage-www merges remaining:
* merge mirage-www updates mirage/mirage-www#389
* update and merge API breaking change on mirage-www: mirage/mirage-www#390
* merge blog post new functoria on mirage-www: mirage/mirage-www#396
* https://github.com/mirage/mirage-www/pull/410

I'm not sure what the last one's about. @samoht, can you please clarify (or, even better, merge it,

[2016-02-26 23:01] Drup commented on #447
Can we at least just merge the blog/wiki parts ?

[2016-02-26 23:08] Drup commented on #447
@yallop We may have to fix mirage's version in mirage-www's scripts while we wait for the functoria compatibility fix (which is supposed to be mirage/mirage-www#410, iirc).

[2016-02-27 00:10] samoht commented on #447
@yallop I'll look at the last PR, I really like to remove https://github.com/mirage/mirage-www/blob/master/.travis.yml#L17 ...

[2016-02-27 02:07] samoht commented on #447
I've ticked one more box.

[2016-02-27 17:38] samoht commented on #447
https://github.com/mirage/mirage-www/pull/434 is a blocker currently, I had to rollback to the last version of the website before the merge. I'll debug that later this afternoon or tomorrow. I might simply remove the [loopback hacks](https://github.com/mirage/mirage-www-deployment/blob/master/scripts/deploy-tls.sh#L43-L44) and use the new `.in` features that @djs55 introduced in 2.6.0

[2016-02-28 13:11] #496 closed

[2016-02-28 13:19] samoht opened #500 "lots of noise generated in the `disk` field of `.xl` and `.xl.in` files"
If you run `mirage configure --tls=true --secrets-kv_ro=fat` in `mirage-www`, you get:

[code]

[code]

Which is an awful lot of fat images and block devices. We should only have one!

[2016-02-28 13:23] samoht commented on #447
the deployment is fixed by https://github.com/mirage/mirage-www-deployment/pull/18 and https://github.com/mirage/mirage-www/pull/389 is live, I've ticked one more box. I found a (non-blocking) bug while fixing this (#500).

I think we are ok to publish the blog post and do the announcement on Monday, yay!

[2016-02-28 21:50] talex5 commented on #493
@Drup could you give an example showing how to override the default argv handling in a `config.ml`?

[2016-02-28 22:09] samoht commented on #496
I'm trying to re-run the last build of master to check that my fix is working, but TravisCI is a bit slow to react tonight ... Anyway, this should now be solved.

[2016-02-28 23:59] Drup commented on #493
You don't override anything. You just create new keys. For example, to be able to accept `root=/dev/mapper/dmroot`:

[code]

Then you add it to some device, or directly to the register function:
[code]

[2016-02-29 08:52] talex5 commented on #493
And I have to do this for every key I don't care about, to stop functoria crashing with a `Usage` error?

[2016-02-29 11:17] Drup commented on #493
For now, and until we find a better solution, yes.

[2016-02-29 12:32] jonludlam commented on #493
For sending this command line over what's essentially a noisy channel, they could be encoded. For example, we're currently sending key=value pairs over the xen cmdline in xenstore, but we could choose to prefix those that we want the unikernel to be aware of - e.g. mirage:key=value, and we nuke anything that doesn't look like that. That'd be changes only to mirage-bootvar-xen and to whatever tool

[2016-02-29 13:14] jonludlam commented on #493
OTOH, it'd be nice to share the same arg parsing stuff as the unix backend uses, so have something more like:
[code]
and then splitting that as argv is split and passing that directly to cmdliner seems reasonable too.

[2016-02-29 13:25] Drup commented on #493
And how do you access the non-mirage parameters ?

[2016-02-29 14:45] Drup commented on #447
Everything is done, :confetti_ball:

I'm closing!

[2016-02-29 14:45] #447 closed

[2016-02-29 15:19] jonludlam commented on #493
Do you want to?

[2016-02-29 15:21] Drup commented on #493
I'm pretty sure people will want to at some point, yes.

[2016-02-29 15:21] jonludlam commented on #493
After all, the purpose here is to ignore the parameters you _dont_ have any say over

[2016-03-01 14:45] jonludlam commented on #493
Thinking again about this, the case I had in mind for ignoring some of the parameters was that XenServer exposes an API to _append_ arguments to a list extracted from grub. For launching unikernels we'll almost certainly have either full control over the arguments (by making a grub.conf, or by 'xe vm-param-set PV-args=...' on XS or by xl.conf), or no control at all (e.g. qubes). I would have thoug

[2016-03-01 14:48] talex5 commented on #493
Actually, Qubes does allow you to append extra arguments. But you can't remove the default ones.

[2016-03-01 16:44] jonludlam commented on #493
How does this sound: The command line is split up by whitespace (taking care to treat quotations correctly), and if one of those arguments starts with "mirage_args=" then we treat that as the argument string. If not, we keep the current behaviour. So for example:

[code]
comes out of bootvar looking like `['x','y'; 'z','z']`, but
[code]
comes out looking as like `['root','/dev/mapper/dmroot'; 'con

[2016-03-01 17:07] talex5 commented on #493
It's better than what we have now. But it still means the firewall will crash by default until the user changes the settings, which isn't ideal.

[2016-03-01 18:22] jonludlam commented on #493
@hannesm @talex5 OK, how about the original idea of prefixing each key with something then? `mirage:foo=bar` or the like?

[2016-03-01 18:51] jonludlam commented on #493
Actually, thinking some more, I think I still prefer the magic string option (though we could make it a bit more obscure if you think it's too easy to accidentally invoke it). It means the 'normal' case is less horrible, and the unusual case of Qubes is the only one where the magic has to be applied. @talex5 it it very bad if the default case doesn't work? Can this not be just documented as part o

[2016-03-01 19:13] sgrove opened #502 "mirage configure inserts camlp4 into Makefile"
Seems like this isn't necessary (and caused some problems with my jsoo build chain), and can be removed.
[code]

[2016-03-01 19:13] samoht commented on #502
That's clearly should be fixed. A PR is more than welcome!

[2016-03-01 19:14] samoht commented on #502
Related to #405

[2016-03-02 10:19] talex5 commented on #493
One of the benefits we advertise for unikernels is that they only include what you need and you can swap out any component with a replacement. So having a command-line parser that you don't need that always runs at startup, can't be overridden, and causes your unikernel to crash seems a little embarrassing.

So I think the first step here is to put the developer back in control, by letting them de

[2016-03-03 01:55] sgrove opened #503 "Mirage + ocamlbuild + jsoo.ocamlbuild breakage"
`mirage configure` fails with the output seen here https://gist.github.com/sgrove/3ab70913a3fcb27e7a87

Running `make` and then `mirage configure works`, but that seems wrong to me. There looks to be some sort of circular dependency here.

My goal here is to have a 100% reliable, _deterministic_ setup for others to use with this example project. I'm unclear what I'm missing here, or where this wou

[2016-03-05 11:41] talex5 opened #504 "Functoria: block device names get turned into Unix paths, even on Xen"
e.g. my generated `.xl` file contains:

[code]

Looks like the unwanted expansion is coming from here:

https://github.com/mirage/mirage/blob/f5f6ca98d5d7f2339146af6b15cb95ea04a2d6b3/lib/mirage.ml#L1092

Note that the expansion is also done a second time (but, correctly, only for non-Xen targets) here:

https://github.com/mirage/mirage/blob/f5f6ca98d5d7f2339146af6b15cb95ea04a2d6b3/lib/mirage.ml#L2

[2016-03-05 11:46] talex5 commented on #503
What's in your `config.ml` file? (I don't see it in the gist)

[2016-03-05 11:57] djs55 commented on #504
Which aspect is unwanted? The fact it's a path at all, or the choice of
specific path?

Regarding use of a path at all: it should cause `xl` to set up a `loop`
device for you.

From [xl-disk-configuration](
http://xenbits.xen.org/docs/4.6-testing/misc/xl-disk-configuration.txt)

For example

  `format=raw, vdev=hdc, access=ro, devtype=cdrom, target=/root/image.iso`

Regarding the specific path: th

[2016-03-05 12:14] talex5 commented on #504
Ah, I see. I guess the problem is that we're using magic strings to guess what the user means. `disk.img` means to use loopback on a file called `disk.img`, but `xvda` (probably) doesn't mean a file called `xvda`. So the `.xl` file should ask the user to insert a value here manually, I suppose, in this case.

Could we offer an alternative to `block_of_file` that takes device names? e.g. `block_of_

[2016-03-07 10:16] talex5 opened #506 "IP.write can fail"
According to https://github.com/mirage/mirage-tcpip/pull/166:

This should be either:
- Documented, and the exception exposed in the module type, or
- Turned into an error return

[2016-03-07 10:26] talex5 commented on #506
(It should almost certainly be an error return, because code calling this will often want to handle network errors e.g. by retrying. I only looked quickly, but I didn't see this being handed in the TCP code; transmitting a TCP segment and getting this error will likely call `async_exception_hook` and exit the unikernel, which is unlikely to be the desired result. Unfortunately, this does mean anot

[2016-03-07 10:41] hannesm commented on #506
isn't it `connect` which can fail, but `write` which shouldn't (at least in POSIX).

I'm still undecided and curious what `write` semantics people want, I'd prefer in several scenarios to have an API which allow me to check whether the segment has been acknowledged (certainly in a non-blocking fashion, otherwise bandwidth is poor).

But, in general, a `FLOW.write`(`v`) is a fire and forget operati

[2016-03-07 11:09] talex5 commented on #506
Note that `IP` isn't a `FLOW`.

I don't think you can cache the next-hop ARP address, because it could easily change during a long-running TCP stream. TCP doesn't have to send every packet in a stream along the same path.

Checking the progress of a segment may be useful, but that's at a different layer (TCP) to this issue (IP).

I think that if the IP code is able to report an error then the API

[2016-03-07 11:10] hannesm commented on #506
oh, sorry for my layer violation. maybe we should talk about the API in more detail in Morocco?

[2016-03-07 11:12] talex5 commented on #506
Sure :-) Actually, I'd like to discuss lots of things about error handling in Mirage there too...

[2016-03-07 15:59] djs55 commented on #504
I think having `block_of_device_name` sounds like a useful addition.

[2016-03-07 22:23] djs55 commented on #448
And alignment constraints, see [mirage/ocaml-cstruct#87] for something related.

[2016-03-08 16:03] #448 closed

[2016-03-10 12:25] mmaker commented on #461
yo, this is not yet fixed. With mirage 2.7.0 and functoria  1.0.0:
[code]

The error message from the first command is definitely unhelpful.

[2016-03-10 13:45] Drup commented on #461
Dammit. I was convinced this one was solved.

@yallop Do you have an idea ? I think it is related to this line: https://github.com/mirage/functoria/blob/master/app/functoria_app.ml#L630

[2016-03-12 06:37] yallop commented on #461
I think it'd be good to start thinking how to remove `base_context`.

[2016-03-12 12:43] Drup commented on #461
@yallop That means droping `get_mode`. I don't disagree, but it seems quite early.

[2016-03-12 12:48] samoht commented on #461
I'm fine with it as long it is documented

[2016-03-12 13:32] yomimono opened #509 "`mirage configure` can give a misleading error message"
When running `mirage configure` in a directory with no `config.ml`:

[code]

[2016-03-12 13:43] Drup commented on #509
Duplicate of https://github.com/mirage/mirage/issues/461 (and others ..)

[2016-03-12 13:44] #509 closed

[2016-03-12 23:40] samoht commented on #502
Fixed by #510

[2016-03-12 23:40] #502 closed

[2016-03-12 23:40] samoht commented on #405
Fixed by #510

[2016-03-12 23:40] #405 closed

[2016-03-12 23:40] samoht commented on #271
Never :p

[2016-03-12 23:40] #271 closed

[2016-03-13 16:50] talex5 opened #511 "Unbound module OS"
Seems that mirage's generated dependencies don't include mirage-platform:

`config.ml`:

    open Mirage
    let handler = foreign "Unikernel.Main" (clock @-> job)
    let () = register "test" [handler $ default_clock]

`unikernel.ml`:

    module Main (C:V1.CLOCK) = struct let start () = Lwt.return () end

Compiling gives:

    $ mirage configure --unix
    $ make
    File "main.ml", line 5, char

[2016-03-13 19:22] #511 closed

[2016-03-15 21:37] djs55 opened #517 "Generated example .xl file should contain kernel arguments"
The generated .xl file for mirage-skeleton/ping looks like this:

[code]

The `vif` section was created based on the detected configuration of the host where `mirage configure --xen` was run, so that a basic developer workflow would just be:
- install developer tools in dom0
- `mirage configure --xen`
- `make`
- `xl create foo.xl`

Unfortunately now this fails to work with an error message like th

[2016-03-20 14:41] ansiwen opened #520 "Changing default tags to contain strict 'warn_error(+1..49)' breaks builds"
Since 2.7.1 the default tags contain "warn_error(+1..49)" which breaks builds that worked before (in my case a CI job for example) I appreciate strict warnings, but if they are enabled _and_ enforced in one iteration, there is no chance to fix warnings. At least there should be a warning and a hint how to change/overwrite the default tags. The only option I see at the moment is to overwrite the SY

[2016-03-20 15:28] #520 closed

[2016-03-23 16:45] hannesm opened #524 "Rumprun backend bitrot (2.6.0)"
see https://github.com/mirage/mirage/issues/479 -- there are patches to mirage which are 2.6.0 only, someone should port that forward @mato (for proper integration there is the need of cross-compilation)

[2016-03-23 21:54] sgrove opened #525 "mirage configure should detect and warn re: known unsupported (transitive) deps"
I added `ocamlrss` to my mirage site, hooked it in and got it working locally, then it failed later when I went to build a unikernel because it depends on `Neturl` …. and eventually unix.

It’d be nice if `mirage configure` warned when there were some deps included that clearly wouldn’t work when building a unikernel, so I would have known up front rather than way down the line

[2016-03-30 13:16] sprout42 opened #527 "mirage 2.7.3 generates incorrect makefile for armv7 (cubietruck)"
The latest version of mirage 2.7.3 generates incorrect makefiles on the cubietruck platform:

**mirage 2.7.3:**
[code]

**Mirage 2.7.2:**
[code]

[2016-03-30 13:24] samoht commented on #527
This is surprising! The [diff](https://github.com/mirage/mirage/compare/v2.7.2...v2.7.3) doesn't show much, are you sure that's the only diff between your 2 systems?

[2016-03-30 13:25] avsm commented on #527
Odd, nothing relevant should have changed here...

[2016-03-30 13:42] talex5 commented on #527
The output from 2.7.3 above doesn't look like any recent version of mirage. Apart from anything, `classic-display` went away back in 2015... are you sure it was that version? I heard that opam installed a really old mirage (like 0.4 or something) by default recently, which might give that output.

[2016-03-30 13:43] sprout42 commented on #527
The 2.7.2 makefile was generated on the same system that created the 2.7.3 makefile after I ran this command:
`opam pin add mirage https://github.com/mirage/mirage.git#v2.7.2`

I'm just getting into this mirage/ocaml stuff so I don't really understand all of the implications of the few changes between 2.7.2 and 2.7.3.

the one difference I saw was the output from when the makefiles were generated

[2016-03-30 13:44] sprout42 commented on #527
I will try re-installing the latest mirage version from opam and see what I get.

[2016-03-30 13:51] sprout42 commented on #527
That was indeed the issue.  Opam must have (annoyingly) installed an older version of mirage.

2.7.3 now works as expected:
[code]

[2016-03-30 13:51] #527 closed

[2016-03-30 13:56] avsm commented on #527
Interesting -- I bet what happened is that a package installation removed and reinstalled mirage during the configure phase.  We really ought to stop invoking OPAM directly during a Mirage application build, or otherwise having some mechanism to pin the `mirage` host package.

Perhaps we should use a separate OPAM sandbox per-Mirage project, and only use the global OPAM for the Mirage installation

[2016-03-30 14:00] sprout42 commented on #527
This was a fresh cubietruck image that I built on Monday, so if opam was causing issues recently then it was probably when I did the initial install.

[2016-03-30 14:02] hannesm commented on #527
@avsm I had a similar idea recently... why does `mirage configure --targets --options` not emit an `opam` file (containing the list of dependencies), then you can either `opam pin & install --deps-only opam` or do this inside of a custom `opam switch` (which has only the required dependencies installed).  To build the unikernel, `make` should be sufficient (no need to require the mirage tool to be

[2016-04-01 17:44] sgrove opened #528 "mirage configure wants already installed package"
[code]

1. Perhaps the name of the ncurses package is a bit off? I'm using the `unikernel / mirage` docker image for this
2. Is there a flag to always allow, so it's scriptable?

[2016-04-14 10:24] hannesm opened #532 "mirage configure --help and mirage help configure are not synonym"
the output is different. is this intended? it is confusing.

[2016-04-14 14:53] hannesm commented on #517
I just ran into this issue (when upgrading mirage-net-xen-1.4 to 1.6), but the suggested fix to add `cmdline="network=0"` into `foo.xl` does not solve my problem, I still get:

[code]

any ideas?

[2016-04-14 15:09] hannesm commented on #517
fixed by using `mirage configure --network 0` on the command-line

[2016-04-14 21:16] hannesm commented on #396
it would be great if there is a way to automatically detect this and error out early (instead of silently crashing, as it did for me)

[2016-04-26 10:34] talex5 commented on #395
Improved error reporting is now tracked here https://github.com/mirage/mirage-dev/pull/107

(see http://canopy.mirage.io/Posts/Errors for details)

[2016-04-26 10:36] talex5 commented on #381
Some related fixes for the error reporting are tracked in https://github.com/mirage/mirage-dev/pull/107

[2016-04-26 10:41] talex5 commented on #191
It looks like this was fixed: https://github.com/mirage/mirage-block-unix/releases/tag/v2.1.0

If not, a new issue should be opened on that repository.

[2016-04-26 10:41] #191 closed

[2016-04-26 10:44] talex5 commented on #81
I don't understand what this issue is about, but I assume it's old enough it should just be closed?

[2016-04-26 12:49] yomimono commented on #224
Was this intended to provide development environments for producing unikernels? If so, I believe we now have sufficient Dockerfiles and Hub images to close this issue.

[2016-04-26 12:49] yomimono commented on #231
Is this still a reasonable feature to target?

[2016-04-26 13:11] avsm commented on #224
Agreed.

[2016-04-26 13:11] #224 closed

[2016-04-26 13:12] avsm commented on #231
This could be provided by a little CloudInit library now; it's certainly not part of mirage/mirage, but not clear where to put these "requests for networking libraries"

[2016-04-26 13:16] talex5 commented on #81
Seems Mirage used to have js support, but doesn't any longer.

[2016-04-26 13:16] #81 closed

[2016-04-26 13:17] avsm commented on #81
Yes, in a source tree many, many branches away :-)

[2016-04-29 12:56] samoht commented on #493
Fixed by #534. Now use:

[code]

[2016-04-29 12:56] #493 closed

[2016-05-01 11:20] talex5 opened #536 "Hint: Recursive traversal of subdirectories was not enabled for this build"
Every time a mirage build fails, we print this hint to the user:

[code]

I think we've got used to ignoring this, but for new users it must be confusing. We should find a way to suppress this message.

Perhaps mirage could generate an empty `_tags` file if there isn't one already?

[2016-05-01 15:53] talex5 opened #538 "Travis is failing on master: undefined reference to `caml_check_alignment_bigstring'"
Something new in Cstruct 2.0.0 perhaps?

https://travis-ci.org/mirage/mirage/jobs/126661361

[code]

/cc @avsm

[2016-05-01 15:56] djs55 commented on #538
It is new: https://github.com/mirage/ocaml-cstruct/blob/daafda76f03ebdbd5eae0b3963d5f48435857d27/lib/cstruct_stubs.c#L75

Are the cstruct_stubs still being duplicated in another place?

[2016-05-01 16:01] talex5 commented on #538
Yeah, the (previously-identical) Xen version is in mirage-platform still.

[2016-05-01 16:20] #538 closed

[2016-05-03 11:09] #536 closed

[2016-05-09 10:38] hannesm commented on #442
@mattgray any chance now that functoria is merged and 2.9.0 is out that you have a PR for mirage-types and mirage-clock to get it reviewed+merged?

[2016-05-09 17:08] mattgray commented on #442
hi @hannesm - I don't have a PR ready right now, but I think everything is in place now, so I should be able to whip one up soon enough. The main blocker here is finding to to work on it around day job. I hope I can spend a bit of time on it this coming weekend, how does that sound?

[2016-05-09 17:28] cr-ver opened #539 "Unbound Module "Mirage_Version""
Configuration:
ocamlfind: ........................................... /usr/bin/ocamlfind
ocamlc: .............................................. /usr/bin/ocamlc.opt
ocamlopt: ............................................ /usr/bin/ocamlopt.opt
ocamlbuild: .......................................... /usr/bin/ocamlbuild
Package name: ........................................ mirage
Package version: .....

[2016-05-09 21:02] hannesm commented on #442
@mattgray thx, it sounds excellent! :)

[2016-05-10 13:32] samoht commented on #539
which command did you run? What is your OS? does `make lib/mirage_version.ml` help?

[2016-05-16 10:25] hannesm opened #540 "mirage clean doesn't clean up staticN.ml[i]"
in contrast to #204, I think that the sequence of commands:
[code]
should not leave any trace behind

[2016-05-21 15:19] mor1 commented on #527
...isn't this another example of a proposal that ISTR from Slack, namely per-project (rather than per-user) OPAM installs? Referenced in https://github.com/avsm/dopam/issues/3 for example.

[2016-05-21 15:29] mor1 commented on #540
As I suggest in #204, I understood `clean` vs `distclean` as (AIUI) a fairly common distinction with the latter removing more than the former -- in this case, generated code files in addition to compiled objects. Regenerating the `staticN.m{l,li}` files can take sufficiently long that avoiding having to do it every time was a reasonably significant time saver on build for websites.

Perhaps if we'